@model List<Banners>

@{
    int x2 = 1;
    
    

    @foreach (var item in Model.Where(x => x.ID_Banner > 0).ToList().OrderBy(y => Guid.NewGuid()))
    {
        @if (!string.IsNullOrEmpty(item.Imagem))
        {
            <a class="dg-home-destaques-item" href="@item.URLBanner" target="@item.Target">
                @if (x2 == 1) {
                    <img width="100%" height="auto" src="https://static.farmaciamix.com.br/banners/dne/@item.Imagem" alt="@item.Alt" title="@item.Alt" />
                } else {
                    <img width="100%" height="auto" class="tns-lazy-img" data-src="https://static.farmaciamix.com.br/banners/dne/@item.Imagem" alt="@item.Alt" title="@item.Alt" />
                }
            </a>
        }
        x2++;
    }
}



