@{
    ViewData["BodyID"] = "institucional-politica-de-cookies-pg";
}

<!--Conteudo-->
<div class="container"> 
    @* BreadCrumb *@
    <ul class="dg-institucional-breadcrumb" vocab="https://schema.org/" typeof="BreadcrumbList">

        <li property="itemListElement" typeof="ListItem" itemscope itemtype="https://schema.org/ListItem">
            <a href="@Html.Domain()/" property="item" typeof="WebPage">
                <span property="name">Home</span>
            </a>
            <meta property="position" content="1">
            <meta property="name" content="Home">
        </li>
      

        
        <li property="itemListElement" typeof="ListItem" itemscope itemtype="https://schema.org/ListItem">
            <a href="@ViewBag.UrlBreadcrumb" property="item" typeof="WebPage">
                <span property="name">Política de Cookies</span>
            </a>
            <meta property="position" content="1">
            <meta property="name" content="Política de Cookies">
        </li>

    </ul>
    @* /BreadCrumb *@


    <h1 class="dg-institucional-titulo">Política de <strong>Cookies</strong></h1>
    <main id="main" class="dg-institucional">

        <p>
            Quando você utiliza nosso website, poderemos armazenar ou recuperar informações em seu navegador, principalmente na forma de cookies ou arquivo semelhante, e podem ser utilizadas para tornar a experiência do usuário mais eficiente.
        </p>

        <p>
            A Farmácia Mix armazenará os cookies no seu dispositivo se forem estritamente necessários para o funcionamento de nosso website. Para todos os outros tipos de cookies precisaremos do seu consentimento.
        </p>
        <p>
            Este site utiliza diferentes tipos de cookies, alguns deles também poderão ser inseridos por serviços independentes que aparecem nas nossas páginas.
        </p>
        <p>
            Você pode, a qualquer momento, alterar ou retirar o seu consentimento para a utilização de cookies no nosso website.
        </p>
        <p>
            Saiba mais sobre quem somos, como pode nos contatar e como processamos os dados pessoais em nossa página <a target="_blank" href="@Html.Domain()/politica-de-privacidade/" title="Acessar página">Política de Privacidade</a>.
        </p>
        <h2>O QUE É UM COOKIE?</h2>
        <p>
            Cookies são pequenos trechos de informações que o website solicita ao seu navegador para armazenamento em seu computador ou dispositivo móvel. O cookie permite que o website “lembre” suas ações ou preferências ao longo do tempo.
        </p>
        <p>
            A maioria dos navegadores da internet aceitam cookies, entretanto, os usuários podem configurar seus navegadores para recusar certos tipos de cookies ou cookies específicos. Além disso, os usuários podem apagar os cookies a qualquer momento.
        </p>
        <h2>POR QUE UTILIZAMOS COOKIES?</h2>
        <p>Usamos cookies para aprender como você interage com o nosso conteúdo e para melhorar sua experiência ao visitar o nosso website.</p>
        <p>
            Por exemplo, alguns cookies lembram suas preferências para que você não tenha que efetuar estas escolhas repetidamente sempre que visitar nosso website. Além disso, podemos empregar o que aprendemos sobre o seu comportamento no nosso website para oferecer anúncios direcionados em website(s) de terceiros em um esforço para “reapresentar” nossos produtos e serviços para você.
        </p>
        <h2>QUAIS OS TIPOS DE COOKIES QUE UTILIZAMOS?</h2>
        <ul>
            <li><strong>COOKIES ESTRITAMENTE NECESSÁRIOS:</strong> Estes cookies são necessários para que o website funcione e não podem ser desligados nos nossos sistemas. Normalmente, eles só são configurados em resposta a ações levadas a cabo por si e que correspondem a uma solicitação de serviços, tais como definir as suas preferências de privacidade, iniciar sessão ou preencher formulários. Pode configurar o seu navegador para bloquear ou alertá-lo(a) sobre esses cookies, mas algumas partes do website não funcionarão. Estes cookies não armazenam qualquer informação pessoal identificável.</li>
            <li><strong>COOKIES DE SESSÃO:</strong> São conhecidos como cookies temporários e são utilizados para lembrar de você durante o curso da sua visita ao website. Esses tipos de cookies perdem a validade quando você fecha o navegador.</li>
            <li><strong>COOKIES DE DESEMPENHO:</strong> Estes cookies permitem que o site forneça uma funcionalidade e personalização melhoradas. Podem ser estabelecidos por nós ou por fornecedores externos cujos serviços adicionámos às nossas páginas. Se não permitir estes cookies algumas destas funcionalidades, ou mesmo todas, podem não atuar corretamente.</li>
            <li><strong>COOKIES DE FUNCIONALIDADE:</strong> Estes cookies permitem que o site forneça uma funcionalidade e personalização melhoradas, oferecendo mais praticidade ao visitar o nosso website com por exemplo ao lembrar de produtos deixados no carrinho. Podem ser estabelecidos por nós ou por fornecedores externos cujos serviços adicionámos às nossas páginas. Se não permitir estes cookies algumas destas funcionalidades, ou mesmo todas, podem não atuar corretamente.</li>
            <li><strong>COOKIES DE PUBLICIDADE:</strong> Estes cookies podem ser estabelecidos através do nosso site pelos nossos parceiros de publicidade. Podem ser usados por essas empresas para construir um perfil sobre os seus interesses e mostrar-lhe anúncios relevantes em outros websites. Eles não armazenam diretamente informações pessoais, mas são baseados na identificação exclusiva do seu navegador e dispositivo de internet. Se não permitir estes cookies, terá menos publicidade direcionada.</li>
        </ul>
        <h2>COMO OS COOKIES DE TERCEIROS SÃO USADOS?</h2>
        <p>Para algumas das funções dentro dos nossos websites usamos fornecedores terceirizados, por exemplo, quando você visita uma página com um vídeo incorporado ou proveniente do YouTube. Estes vídeos ou links (e qualquer outro conteúdo de fornecedores terceirizados) podem conter cookies de terceiros. Por favor, note que não controlamos quaisquer cookies utilizados por esses serviços</p>
        <h2>COMO EU REJEITO OU APAGO COOKIES?</h2>
        <p>
            Você pode escolher rejeitar ou bloquear todos ou tipos específicos de cookies configurados através da sua visita ao nosso website ao clicar em preferências de cookies.
        </p>
        <p>
            Você pode modificar as suas preferências para o website da Farmácia Mix e/ou os websites de terceiros alterando as configurações do seu navegador. Favor observar que a maioria dos navegadores aceitam cookies automaticamente. Portanto, se você não quiser que cookies sejam utilizados, talvez você tenha que apagar ou bloquear cookies ativamente. Se você rejeitar a utilização de cookies, poderá visitar os nossos websites, mas algumas das funções poderão não funcionar corretamente.
        </p>
        <p>
            Ao utilizar o nosso website sem apagar ou rejeitar alguns ou todos os cookies, você concorda que poderemos posicionar aqueles cookies que você não apagou ou rejeitou no seu dispositivo.
        </p>
        <p>
            Para o gerenciamento de cookies e escolhas, os meios para configurar cada navegador são diferentes. Eles estão descritos na seção Ajuda do Navegador, que permitirá que o usuário saiba como alterar suas preferências de cookies.
        </p>
        <ul>
            <li>Para o Safari™: <a target="_blank" href="https://support.apple.com/pt-br/HT201265">support.apple.com/pt-br/HT201265</a>;<br> </li>
            <li>Para o Google Chrome™: <a target="_blank" href="https://support.google.com/accounts/answer/61416">support.google.com/accounts/answer/61416</a>;<br></li>
            <li>Para o Firefox™: <a target="_blank" href="https://support.mozilla.org/pt-BR/kb/desative-cookies-terceiros-impedir-rastreamento">support.mozilla.org/pt-BR/kb/desative-cookies-terceiros-impedir-rastreamento</a>.<br></li>
            <li>Internet ExplorerTM: <a target="_blank" href="https://support.microsoft.com/pt-br/windows/microsoft-edge-dados-de-navegação-e-privacidade-bb8174ba-9d73-dcf2-9b4a-c582b4e640dd">support.microsoft.com/pt-br/windows/microsoft-edge-dados-de-navegação-e-privacidade-bb8174ba-9d73-dcf2-9b4a-c582b4e640dd</a>.</li>
        </ul>

        <p>
            Ressaltamos que essa lista não contém todos os navegadores, consulte as seções “Configurações” ou “Suporte” de seu navegador.
        </p>
        <h2 >LISTA DE COOKIES DA Farmácia Mix</h2>
        <div>
        <table class="dg-table-customizada">
            <thead>
                <tr>
                    <th class="dg-mobile-hide">Nome</th>
                    <th class="dg-mobile-hide">Tipo de Cookie</th>
                    <th class="dg-mobile-hide">Propósito</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span class="dg-mobile-hide">CookieDNEChaveCarrinho</span>
                        <ul class="dg-desktop-hide">
                            <li><strong>Nome: </strong> CookieDNEChaveCarrinho</li>
                            <li><strong>Tipos e cookie: </strong>Cookies Necessários</li>
                            <li><strong>Propósito: </strong>Cookie para identificar a chave do carrinho e montar o carrinho para a finalização do pedido.</li>
                        </ul>
                    </td>
                    <td class="dg-mobile-hide">Cookies Necessários</td>
                    <td class="dg-mobile-hide">Cookie para identificar a chave do carrinho e montar o carrinho para a finalização do pedido.</td>
                </tr>
                <tr>
                    <td>
                        <span class="dg-mobile-hide">CookieDNEEmailClienteSite</span>
                        <ul class="dg-desktop-hide">
                            <li><strong>Nome: </strong> CookieDNEEmailClienteSite</li>
                            <li><strong>Tipos e cookie: </strong>Cookies Necessários</li>
                            <li><strong>Propósito: </strong>Cookie que guarda o e-mail do cliente logado para identificá-lo no sistema BTG.</li>
                        </ul>
                    </td>
                    <td class="dg-mobile-hide">Cookies Necessários</td>
                    <td class="dg-mobile-hide">Cookie que guarda o e-mail do cliente logado para identificá-lo no sistema BTG.</td>
                </tr>
                <tr>
                    <td>
                        <span class="dg-mobile-hide">CookieDNEID_Cliente</span>
                        <ul class="dg-desktop-hide">
                            <li><strong>Nome: </strong> CookieDNEID_Cliente</li>
                            <li><strong>Tipos e cookie: </strong>Cookies Necessários</li>
                            <li><strong>Propósito: </strong>Cookie que guarda o identificador do cliente logado e eventuais consultas de dados.</li>
                        </ul>
                    </td>
                    <td class="dg-mobile-hide">Cookies Necessários</td>
                    <td class="dg-mobile-hide">Cookie que guarda o identificador do cliente logado e eventuais consultas de dados.</td>
                </tr>
                <tr>
                    <td>
                        <span class="dg-mobile-hide">CookieDNEModalRecompra</span>
                        <ul class="dg-desktop-hide">
                            <li><strong>Nome: </strong> CookieDNEModalRecompra</li>
                            <li><strong>Tipos e cookie: </strong>Cookies Necessários</li>
                            <li><strong>Propósito: </strong>Cookie para identificar se o modal de recompra foi aberto no período de 7 dias.</li>
                        </ul>
                    </td>
                    <td class="dg-mobile-hide">Cookies Necessários</td>
                    <td class="dg-mobile-hide">Cookie para identificar se o modal de recompra foi aberto no período de 7 dias.</td>
                </tr>
                <tr>
                    <td>
                        <span class="dg-mobile-hide">CookieDNEModalRecompraLogin</span>
                        <ul class="dg-desktop-hide">
                            <li><strong>Nome: </strong> CookieDNEModalRecompraLogin</li>
                            <li><strong>Tipos e cookie: </strong>Cookies Necessários</li>
                            <li><strong>Propósito: </strong>Cookie para identificar se o modal de recompra do login foi aberto.</li>
                        </ul>
                    </td>
                    <td class="dg-mobile-hide">Cookies Necessários</td>
                    <td class="dg-mobile-hide">Cookie para identificar se o modal de recompra do login foi aberto.</td>
                </tr>
                <tr>
                    <td>
                        <span class="dg-mobile-hide">CookieDNENomeCliente</span>
                        <ul class="dg-desktop-hide">
                            <li><strong>Nome: </strong> CookieDNENomeCliente</li>
                            <li><strong>Tipos e cookie: </strong>Cookies Necessários</li>
                            <li><strong>Propósito: </strong>Cookie que guarda o nome do cliente logado para futuras identificações no sistema.</li>
                        </ul>
                    </td>
                    <td class="dg-mobile-hide">Cookies Necessários</td>
                    <td class="dg-mobile-hide">Cookie que guarda o nome do cliente logado para futuras identificações no sistema.</td>
                </tr>
                <tr>
                    <td>
                        <span class="dg-mobile-hide">CookieDNEutm_sourceDNE</span>
                        <ul class="dg-desktop-hide">
                            <li><strong>Nome: </strong> CookieDNEutm_sourceDNE</li>
                            <li><strong>Tipos e cookie: </strong>Cookies Necessários</li>
                            <li><strong>Propósito: </strong>Cookie que armazena a origem do acesso e pedido se, por acaso, veio de algum parceiro ou não.</li>
                        </ul>
                    </td>
                    <td class="dg-mobile-hide">Cookies Necessários</td>
                    <td class="dg-mobile-hide">Cookie que armazena a origem do acesso e pedido se, por acaso, veio de algum parceiro ou não.</td>
                </tr>
                <tr>
                    <td>
                        <span class="dg-mobile-hide">CookiesPO</span>
                        <ul class="dg-desktop-hide">
                            <li><strong>Nome: </strong> CookiesPO</li>
                            <li><strong>Tipos e cookie: </strong>Cookies Necessários</li>
                            <li><strong>Propósito: </strong>Cookie utilizado para controle da precificação do site.</li>
                        </ul>
                    </td>
                    <td class="dg-mobile-hide">Cookies Necessários</td>
                    <td class="dg-mobile-hide">Cookie utilizado para controle da precificação do site.</td>
                </tr>
                <tr>
                    <td>
                        <span class="dg-mobile-hide">CookiesWTFID</span>
                        <ul class="dg-desktop-hide">
                            <li><strong>Nome: </strong> CookiesWTFID</li>
                            <li><strong>Tipos e cookie: </strong>Cookies de Sessão</li>
                            <li><strong>Propósito: </strong>Cookie de rastreamento, que marca as máquinas de possíveis fraudadores</li>
                        </ul>
                    </td>
                    <td class="dg-mobile-hide">Cookies de Sessão</td>
                    <td class="dg-mobile-hide">Cookie de rastreamento, que marca as máquinas de possíveis fraudadores</td>
                </tr>
                <tr>
                    <td>
                        <span class="dg-mobile-hide">CookiesWTFIDDataHora</span>
                        <ul class="dg-desktop-hide">
                            <li><strong>Nome: </strong> CookiesWTFIDDataHora</li>
                            <li><strong>Tipos e cookie: </strong>Cookies de Sessão</li>
                            <li><strong>Propósito: </strong>Cookie de rastreamento, que marca a data e a hora das máquinas de possíveis fraudadores.</li>
                        </ul>
                    </td>
                    <td class="dg-mobile-hide">Cookies de Sessão</td>
                    <td class="dg-mobile-hide">Cookie de rastreamento, que marca a data e a hora das máquinas de possíveis fraudadores.</td>
                </tr>
                <tr>
                    <td>
                        <span class="dg-mobile-hide">cto_bundle</span>
                        <ul class="dg-desktop-hide">
                            <li><strong>Nome: </strong> cto_bundle</li>
                            <li><strong>Tipos e cookie: </strong>Cookies de Estatística</li>
                            <li><strong>Propósito: </strong>Cookie localStorage é responsável por compartilhar, coletar ou armazenar dados dos visitantes.</li>
                        </ul>
                    </td>
                    <td class="dg-mobile-hide">Cookies de Estatística</td>
                    <td class="dg-mobile-hide">Cookie localStorage é responsável por compartilhar, coletar ou armazenar dados dos visitantes.</td>
                </tr>
            </tbody>
        </table>
        </div>
        <h2>INFORMAÇÕES ADICIONAIS E CONTATOS</h2>
        <p>
            Estamos comprometidos com a segurança da sua informação e privacidade, por isso, convidamos a conhecer nossa <a target="_blank" href="@Html.Domain()/politica-de-privacidade/" title="Acessar página">Política de Privacidade</a> e <a target="_blank" href="@Html.Domain()/termo-de-uso/" title="Acessar página">Termos de Uso</a>. Caso tenha alguma dúvida sobre cookies e privacidade, por favor, entre em contato pelo e-mail: <strong>dpo@farmaciamix.com.br</strong>, indicando como assunto “Assunto – Política de Cookies”.
        </p>
    </main>
</div>
@Html.Raw(@ViewBag.SEOOrganization)
<!--Conteudo--> 

@{
    Html.AddCssFileParts(ResourceLocation.Head, "~/assets/css/Institucional.css", false);
}