<div class="dg-mascote-geral">
    <div id="dg-mascote-drag" class="dg-mascote dg-mascote-animado dg-mascote-menu-habilitado jsMascoteCorpoBox">
        <div class="dg-mascote-dialogo jsLivre"></div>
        <nav class="dg-mascote-menu">
            <a href="javascript:void(0)" class="dg-mascote-menu-item dg-mascote-menu-item-evento jsAvisoEvento" style="display:none" onclick="falarMascoteEvento()">
                <div class="dg-mascote-menu-item-evento__icone"></div>
                <span class="dg-mascote-tooltip">
                    <span class="dg-mascote-menu-item-evento__texto"></span>
                </span>
            </a>
            <a href="javascript:void(0)" class="dg-mascote-menu-item dg-mascote-menu-item-busca jsMascoteTelefone" copyToClipboard="(11) 3990-7450">
                <img src="@Html.Domain()/assets/img/lazy.png" data-src-lazy="@Html.Domain()/assets/img/mascote/icon-telefone.png" alt="Telefone" title="Telefone" />
                <span class="dg-mascote-tooltip">
                    Televendas: <strong>(11) 3990-7450</strong>
                </span>
            </a>
            <a href="javascript:void(0)" class="dg-mascote-menu-item dg-mascote-menu-item-telefone-desktop jsMascoteSac" copyToClipboard="(11) 3990-5089">
                <img src="@Html.Domain()/assets/img/lazy.png" data-src-lazy="@Html.Domain()/assets/img/mascote/icon-sac.png" alt="SAC" title="SAC" />
                <span class="dg-mascote-tooltip">
                    SAC: <strong>(11) 3990-5089</strong>
                </span>
            </a>
            <a href="javascript:void(0)" class="dg-mascote-menu-item dg-mascote-menu-item-chat jsAbrirChat">
                <img src="@Html.Domain()/assets/img/lazy.png" data-src-lazy="@Html.Domain()/assets/img/mascote/icon-chat.png" alt="Chat" title="Chat" />
                <span class="dg-mascote-tooltip">
                    Chat Online
                </span>
            </a>
            <a href="javascript:void(0)" class="dg-mascote-menu-item dg-mascote-menu-item-mudatema jsMudaTema" style="display:none">
                <div class="dg-mascote-menu-item-mudatema__icone"></div>
                <span class="dg-mascote-tooltip">
                    Mudar tema
                </span>
            </a>
        </nav>
        <div class="dg-mascote-corpo-box">
            <div class="dg-mascote-extra"></div>
            <div class="dg-mascote-corpo dg-mascote-chapeu" style=""></div>
            <div class="dg-mascote-corpo dg-mascote-ombro">
                <div class="dg-mascote-corpo dg-mascote-braco" style=""></div>
            </div>
            <div class="dg-mascote-corpo dg-mascote-borda-baixo" style=""></div>
            <div class="dg-mascote-corpo dg-mascote-camisa" style=""></div>
            <div class="dg-mascote-corpo dg-mascote-cabeca" style=""></div>
            <div class="dg-mascote-corpo dg-mascote-borda-cima" style=""></div>
            <div class="dg-mascote-corpo dg-mascote-fundo" style=""></div>
        </div>


        @* <div class="dg-mascote-bemvindo">
            <strong>Olá<span class="jsMascoteNome"></span></strong>, posso ajudar?
        </div> *@

        <div class="dg-modal-mascote-avisa-evento" style="display:none">
            <div>Regra para Frete Grátis durante a Mega Black</div>
            <p>Durante a Mega Black, os clientes da capital de São Paulo vão ganhar frete grátis nas compras acima de R$ 160,00. Garanta seus pedidos, porque esta promoção é por tempo limitado.</p>
        </div>
    </div>
</div>
