@model DNE.Site.Models.Pages.PageHomeModel
@using DNE.Models.Generic;
@using System.Globalization;
@using Newtonsoft.Json;
@{
    ViewData["BodyID"] = "home-pg";
    ViewData["compretambemCheckout"] = null;

    var areaEstruturada = Model.AreaEstrutura;

}

<!-- ####  Começo da HOME #### -->
@* <!-- Não usar o nome "banner", porque de alguma forma o adblock fecha esse cara --> *@

<div class="dg-header-sac dg-header-sac--home">
    <div class="dg-icon dg-icon-sac"></div>
    <div class="dg-header-sac__block-wrapper">
        <div class="dg-header-sac__block">
            <div class="dg-header-sac__title">SAC</div>
            <a href="tel:+551139905089" class="dg-header-sac__text">(11) 3990-5089</a>
        </div>
        <div class="dg-header-sac__block">
            <div class="dg-header-sac__title">Televendas</div>
            <a href="tel:+551139907720" class="dg-header-sac__text">(11) 3990-7450</a>
        </div>
    </div>
</div>

<div class="container dg-home-destaques-wrapper">
    <section class="dg-home-destaques">
        @await Component.InvokeAsync("BannersMain")
    </section>
</div>

@if (Model.ChaveExpirada)
{
    <div id="chaveExpirada"></div>
}

@if(Model.Key != ""){
    <input type="hidden" id="KeyPedido" value="@Model.Key">
}

@if (Model.KeyAbandono != "")
{
    <input type="hidden" id="KeyCarrinhoAbandono" value="@Model.KeyAbandono">
}

<script id="templateModal1Clique" type="text/x-jquery-tmpl">

    <div class="dg-modal-recompra-1clique__background" onclick="fechaModalRecompra1Clique()"></div>
    <div class="dg-modal-recompra-1clique__modal">
        <div class="dg-modal-recompra-1clique__modal-wrapper">
            <header class="dg-modal-recompra-1clique__header">
                <div class="dg-modal-recompra-1clique__header-titulo">
                    <div>Recompra com <span>1-Clique</span></div>
                    <div class="dg-modal-recompra-1clique__tabela-titulo">Veja os detalhes do pedido anterior. <span>Pedido ${Retorno.ID_Pedido}</span>.</div>
                </div>
                <img class="dg-modal-recompra-1clique__mascote" src="/Themes/DefaultClean/Content/img/mascote.svg" alt="Imagem contendo o logo da FMIX">
                @* <button class="dg-modal-recompra-1clique__fechar" onclick="fechaModalRecompra1Clique()" type="button"><img src="/assets/img/home/modal-recompra/fechar.png" alt="Ícone de fechar"></button> *@
            </header>
            <div class="dg-modal-recompra-1clique__content-wrapper">
                <div class="dg-modal-recompra-1clique__overflow">
                    <table class="dg-modal-recompra-1clique__tabela-produtos">
                        <thead>
                            <tr>
                                <th class="dg-mobile-hide" style="width:118px"></th>
                                <th>Produto</th>
                                <th style="width:150px" class="dg-text-center">Marca</th>
                                <th style="width:130px" class="dg-text-center">Valor Und.</th>
                                <th style="width:100px" class="dg-text-center">Qtd.</th>
                                <th style="width:130px" class="dg-text-center">Sub Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {for itens in Retorno.Itens}
                            <tr>
                                <td class="dg-mobile-hide" style="width:118px"><img src="https://www.farmaciamix.com.br/imagens/50x50/${itens.Foto}" /></td>
                                <td>
                                    <div class="dg-modal-recompra-1clique__produto">
                                        <img class="dg-desktop-hide" width="40" src="https://www.farmaciamix.com.br/imagens/50x50/${itens.Foto}" />
                                        ${itens.Produto}
                                    </div>
                                </td>
                                <td style="width:150px" class="dg-text-center">
                                    <div class="dg-desktop-hide">Marca</div>
                                    ${itens.Marca}
                                </td>
                                <td style="width:130px" class="dg-text-center">
                                    <div class="dg-desktop-hide">Valor Und.</div>
                                    R$ ${itens.Valor.FormatCurrency()}
                                </td>
                                <td style="width:100px" class="dg-text-center">
                                    <div class="dg-desktop-hide">Qtd</div>
                                    ${itens.Qtd}
                                </td>
                                <td style="width:130px" class="dg-text-center">
                                    <div class="dg-desktop-hide">Sub Total</div>
                                    R$ ${itens.ValorTotal.FormatCurrency()}
                                </td>
                            </tr>
                            {/for}
                            
                        </tbody>
                    </table>
                </div>
                <hr />
                <ul class="dg-modal-recompra-1clique__info">
                    <li class="dg-modal-recompra-1clique__info-bloco">
                        <div class="dg-modal-recompra-1clique__info-bloco-titulo">Dados do Frete</div>
                        <ul class="dg-modal-recompra-1clique__info-bloco-lista">
                            <li>
                                <div>Forma de envio:</div>
                                <div>${Retorno.Frete.Frete}</div>
                            </li>
                            <li>
                                <div>Tempo Entrega:</div>
                                <div>
                                    {var valorFrete = 0}
                                    {if Retorno.Frete.IsRetiradaLoja == false}
                                    {if Retorno.Frete.PrazoEntrega <= 0}
                                    ${Retorno.Frete.PrazoEntregaHora}
                                    {else}
                                    ${Retorno.Frete.PrazoEntrega} {if Retorno.Frete.PrazoEntrega <= 1}dia útil{else}dias úteis{/if}
                                    {/if}
                                    {else}
                                    Tempo estimado para retirada em 1 hora
                                    {/if}
                                </div>
                            </li>
                            <li>
                                <div>Valor:</div>
                                <div>
                                    {if Retorno.Frete.Valor == '0'}
                                    {var valorFrete = 'Grátis'}
                                    ${valorFrete}
                                    {else}
                                    {var valorFrete = Retorno.Frete.Valor.FormatCurrency()}
                                    R$ ${valorFrete}
                                    {/if}
                                </div>
                            </li>
                        </ul>

                        <div class="dg-modal-recompra-1clique__info-bloco-titulo">Dados da Entrega</div>
                        <ul class="dg-modal-recompra-1clique__info-bloco-lista">
                            <li>
                                <div>${Retorno.Endereco}, ${Retorno.Numero} - ${Retorno.Bairro}, ${Retorno.Cidade}/${Retorno.Estado}, ${Retorno.CEP}</div>
                            </li>
                        </ul>
                    </li>
                    <li class="dg-modal-recompra-1clique__info-bloco">
                        <div class="dg-modal-recompra-1clique__info-bloco-titulo">Dados do Pagamento</div>
                        <ul class="dg-modal-recompra-1clique__info-bloco-lista">
                            <li>
                                <div>Pagamento Escolhido:</div>
                                <div>${Retorno.Pagamento.DadosCartao.Brand} ${Retorno.Pagamento.DadosCartao.NumeroCartao}
                                <input type="hidden" id="ID_OpcaoPagamento" value="${Retorno.ID_OpcaoPagamento}">
                                </div>
                            </li>
                            <li>
                                <div>Forma de Pagamento:</div>
                                <div>${Retorno.Pagamento.nparcela}x R$ ${Retorno.ValorParcela.FormatCurrency()}</div>
                            </li>
                        </ul>
                        <hr class="dg-modal-hr">
                        @* <img width="14" src="/assets/img/checkout/bandeiras/${Retorno.Pagamento.DadosCartao.Brand}.png" /> *@
                        <select id="selectrecompra-1clique" class="dg-modal-recompra-1clique__select" data-bandeira="${Retorno.Pagamento.DadosCartao.Brand}">
                            {for itensCartao in Retorno.Pagamento.DadosCartaoList}
                            {var select = ""}
                            {if itensCartao.CardNumber == Retorno.Pagamento.DadosCartao.CardNumber}
                            {var select = "selected"}
                            {/if}
                            <option data-bandeira="${itensCartao.Brand}" value="${itensCartao.ID_ClientesCartaoToken}" pagamento="${itensCartao.ID_FormaPagamento}" ${select}>
                                ${itensCartao.Brand} ${itensCartao.CardNumber}
                            </option>     
                            {/for}
                        </select>
                    </li>
                    <li class="dg-modal-recompra-1clique__info-bloco">
                        <div class="dg-modal-recompra-1clique__info-bloco-titulo">Dados do Pedido</div>
                        <ul class="dg-modal-recompra-1clique__info-bloco-lista">
                            <li>
                                <div>Data: ${Retorno.Data}</div>
                                <div>Hora: ${Retorno.Hora}</div>
                            </li>
                            <li>
                                <div>Valor dos Produtos:</div>
                                <div>R$ ${Retorno.SubTotal.FormatCurrency()}</div>
                            </li>
                            <li>
                                <div>Valor do Frete:</div>
                                <div>R$ ${valorFrete}</div>
                            </li>
                            {if Retorno.ValorTotalDesconto > 0}
                            <li>
                                <div>Desconto:</div>
                                <div>R$ ${Retorno.ValorTotalDesconto.FormatCurrency()}</div>
                            </li>
                            {/if}
                            <li class="dg-modal-recompra-1clique__total">
                                <div>Total:</div>
                                <div><b>R$ ${Retorno.TotalGeralJuros.FormatCurrency()}</b></div>
                            </li>
                        </ul>

                        <button class="dg-modal-recompra-1clique__editar-info" type="button" onclick="location.href='/checkout/'">Editar Informações</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="dg-modal-recompra-1clique__footer">
            <p class="jsTextoExpande">
                <strong>Importante:</strong> Quando você usa a compra com 1-Clique, seu pedido é processado automaticamente sem passar pelo carrinho de compras. Está transição será feita com o mesmo cartão de crédito de sua última compra.
                <button type="button" class="dg-modal-recompra-1clique__footer-expand-p">
                    <svg version="1.1" xmlns="https://www.w3.org/2000/svg" viewBox="0 0 512 512" xmlns:xlink="https://www.w3.org/1999/xlink" enable-background="new 0 0 512 512" width="16" height="16">
                        <path d="m251.6,185.7c-36.9,0-67,31.5-67,70.3 0,38.7 30,70.3 67,70.3 36.9,0 67-31.5 67-70.3 0-38.7-30.1-70.3-67-70.3z"/>
                        <path d="m251.6,367.1c-59.4,0-107.8-49.8-107.8-111.1 0-61.3 48.4-111.1 107.8-111.1s107.8,49.8 107.8,111.1c0,61.3-48.4,111.1-107.8,111.1zm246.3-121.9c-63.8-102.4-149.8-158.8-241.9-158.8-92.1,0-178.1,56.4-241.9,158.8-4.1,6.6-4.1,15 0,21.6 63.8,102.4 149.8,158.8 241.9,158.8 92.1,0 178-56.4 241.9-158.8 4.1-6.6 4.1-15 0-21.6z"/>
                    </svg>
                </button>
            </p>
            <button class="dg-modal-recompra-1clique__footer-botao" type="button" id="recompra-1clique-fechar-compra">
                Tudo certo, podemos fechar a compra
            </button>
        </div>
    </div>
</script>

<div class="dg-modal-recompra-1clique" style="display:none">
    
</div>

<div id="modalCartaoOptPag" class="dg-modal-cartao-hide">
    <div class="dg-modal-cartao">
        <div class="dg-modal-cartao-box" role="alert">
            <div class="dg-modal-cartao-img">
                <img src="@Html.Domain()/Themes/DefaultClean/Content/img/checkout/logo-chat.svg" alt="Farmácia MiX - Logo">
            </div>

            <p class="dg-modal-cartao-txt">
                <strong>Houve um problema</strong> ao processar o seu cartão. Se o problema persistir, <strong>entre em contato com o seu banco</strong> ou utilize <strong>outro meio de pagamento</strong>.
            </p>

            <div class="dg-modal-cartao-btn">
                <a href="@Html.Domain()/checkout/">
                    Opções de pagamento
                </a>
            </div>
        </div>
        <div class="dg-modal-cartao-overlay"></div>
    </div>
</div>


<main id="main" class="dg-main">
    <div class="container">
        <section class="dg-home-produtos">
            <div class="dg-home-produtos-topo">
                <h1 class="dg-home-produtos-titulo">
                    <img src="@Html.Domain()/Themes/DefaultClean/Content/img/icones/bag-tick.svg" /> Mais <strong>vendidos</strong>
                </h1>

                <div class="jsFarmaciaOnlineEventTimer dg-countdown-wrapper" style="display:none"></div>

                <div class="dg-home-produtos-vermais dg-mobile-hide dg-mobile-hide jsFarmaciaOnlineVerTodos">
                    <a href="@Html.Domain()/descontos-especiais/" class="dg-add-loading"><strong>+</strong> Ver todos</a>
                </div>
            </div>

            <div class="dg-home-boxproduto-slide jsDescontoPromocionaisSlider dg-loading dg-hide-event">

                @{
                    ViewData["boxProduto"] = "CadaUmPor";
                    ViewData["fromSlider"] = "fromSlider";
                    ViewData["horizontal"] = null;
                }

                @await Html.PartialAsync("_TemplateBoxProduto", Model.FarmaciaOnline, new ViewDataDictionary(ViewData){{"Farmaciaonline", ViewData["dasda"]}})
            </div>
            <div class="dg-home-boxproduto-slide jsDescontoPromocionaisSlider dg-loading dg-slide-event"></div>
        </section>
    </div>

    <div class="dg-home-descontos-wrapper">
        <div class="container">
            <section class="dg-home-descontos">
                <div class="dg-home-produtos-topo dg-home-produtos-topo--no-after">
                    <h2 class="dg-home-produtos-titulo">
                        <img src="@Html.Domain()/Themes/DefaultClean/Content/img/icones/percentage-square.svg" />
                        @* @Html.Raw(@Model.AreaEstrutura.Titulo) *@
                        Seleção de <b>Descontos</b>
                        <span class="dg-show-blackfriday"> DE BLACK FRIDAY!</span>
                    </h2>
                </div>

                <div class="dg-home-descontos-lista2">
                    <div class="dg-home-descontos-lista2__wrapper">
                        @if (areaEstruturada.ItemEstrutura.Count() > 0) {
                            foreach (var item in areaEstruturada.ItemEstrutura) {
                                <div>
                                    <a class="dg-home-descontos-lista2__item"  href="@item.Url" target="@item.Target">
                                        <img src="@Html.Domain()/assets/img/lazy.png" width="50" height="50" data-src-lazy="https://static.farmaciamix.com.br/marcas/@item.Imagem" alt="Imagem do @Html.Raw(@item.Descricao)">
                                        <div class="dg-home-descontos-lista2__info">
                                            <div class="dg-home-descontos-lista2__info-nome">@Html.Raw(@item.Descricao)</div>
                                            <div class="dg-home-descontos-lista2__info-ate">Com até</div>
                                            <div class="dg-home-descontos-lista2__info-desconto">@Html.Raw(@item.DescricaoComplementar)</div>
                                        </div>
                                    </a>
                                </div>
                            }
                        }
                        @* @if (areaEstruturada.ItemEstrutura.Count() > 0){
                            foreach (var item in areaEstruturada.ItemEstrutura){
                                <p>Descricao: @Html.Raw(@item.Descricao)</p>
                                <p>Target: @item.Target</p>
                                <p>Url: @item.Url</p>
                                <p>ImagemHover: @item.ImagemHover</p>
                                <p>Imagem: @item.Imagem</p>
                            }
                        } *@
                    </div>
                    @* @if (areaEstruturada.ItemEstrutura.Count() > 0)
                    {
                        foreach (var item in areaEstruturada.ItemEstrutura)
                        {

                            <a href="@item.Url" class="dg-home-descontos-item" target="@item.Target">
                                <span class="dg-home-descontos-nome">
                                    @Html.Raw(@item.Descricao)
                                </span>


                                <img class="tns-lazy-img dg-home-descontos-img @if(!string.IsNullOrEmpty(item.ImagemHover)){
                        <text>dg-hover</text>
                        }" src="@Html.Domain()/assets/img/lazy.png" width="224" height="414" data-src="https://static.farmaciamix.com.br/marcas/@item.Imagem" alt="@Html.Raw(@item.Descricao)" loading="lazy" role="presentation">

                                @if (!string.IsNullOrEmpty(item.ImagemHover))
                                {
                                    <img class="dg-home-descontos-img-hover" src="@Html.Domain()/assets/img/lazy.png" width="224" height="414" data-src-lazy="https://static.farmaciamix.com.br/marcas/@item.ImagemHover" alt="@Html.Raw(@item.Descricao)" loading="lazy" role="presentation">
                                }
                            </a>
                        }
                    } *@

                </div>
            </section>
        </div>
    </div>

    <div class="container">
        <section class="dg-home-produtos">
            <div class="dg-home-produtos-topo">
                <h2 class="dg-home-produtos-titulo">
                    <img src="@Html.Domain()/Themes/DefaultClean/Content/img/icones/discount-shape.svg" />
                    Ofertas <strong>especiais</strong>
                </h2>

                <div class="dg-home-produtos-vermais dg-mobile-hide">
                    <a href="@Html.Domain()/ofertas-especiais/" class="dg-add-loading"><strong>+</strong> Ver todos</a>
                </div>
            </div>

            <div class="dg-home-boxproduto-slide dg-loading" id="OfertasEspeciais">

                @{
                    ViewData["boxProduto"] = "OfertasEspeciais";
                    ViewData["fromSlider"] = "fromSlider";
                    ViewData["horizontal"] = null;
                }

                @await Html.PartialAsync("_TemplateBoxProduto", Model.OfertasEspeciais, new ViewDataDictionary(ViewData){{"OfertasEspeciais", ViewData["boxProduto"]}})
            </div>
        </section>

        <section class="dg-home-sintomas">
            <div class="dg-home-produtos-topo dg-home-produtos-topo--no-after">
                <h2 class="dg-home-produtos-titulo">
                    <img src="@Html.Domain()/Themes/DefaultClean/Content/img/icones/send-2.svg" />
                    Navegue por <strong>sintomas</strong>
                </h2>

                <div class="dg-home-produtos-vermais dg-mobile-hide">
                    @* <a href="#"><strong>+</strong> Ver todos</a> *@
                </div>
            </div>

            <div class="dg-home-sintomas-lista jsSliderSintomas">
                <a href="@Html.Domain()/medicamentos/antigripal/" class="dg-tooltip-hover">
                    <span class="dg-icon dg-icon-gripe"></span>
                    <span class="dg-home-sintomas-lista-txt">
                        Gripe e resfriado
                    </span>
                    <div class="dg-tooltip">Gripe e resfriado</div>
                </a>

                <a href="@Html.Domain()/medicamentos/analgesico-antitermico/" class="dg-tooltip-hover">
                    <span class="dg-icon dg-icon-dor-febre"></span>
                    <span class="dg-home-sintomas-lista-txt">
                        Dor e febre
                    </span>
                    <div class="dg-tooltip">Dor e febre</div>
                </a>

                <a href="@Html.Domain()/medicamentos/gastrointestinal/" class="dg-tooltip-hover">
                    <span class="dg-icon dg-icon-gastro"></span>
                    <span class="dg-home-sintomas-lista-txt">
                        Gastrointestinal
                    </span>
                    <div class="dg-tooltip">Gastrointestinal</div>
                </a>


                <a href="@Html.Domain()/medicamentos/tranquilizante/" class="dg-tooltip-hover dg-add-loading">
                    <span class="dg-icon dg-icon-calm"></span>
                    <span class="dg-home-sintomas-lista-txt">
                        Calmante
                    </span>
                    <div class="dg-tooltip">Calmante</div>
                </a>

                <a href="@Html.Domain()/medicamentos/antialergicos/" class="dg-tooltip-hover dg-add-loading">
                    <span class="dg-icon dg-icon-allergy"></span>
                    <span class="dg-home-sintomas-lista-txt">
                        Alergia
                    </span>
                    <div class="dg-tooltip">Alergia</div>
                </a>

                <a href="@Html.Domain()/nutricao/suplemento-adulto/" class="dg-tooltip-hover dg-add-loading">
                    <span class="dg-icon dg-icon-vitamina"></span>
                    <span class="dg-home-sintomas-lista-txt">
                        Vitaminas
                    </span>
                    <div class="dg-tooltip">Vitaminas</div>
                </a>

                <a href="@Html.Domain()/medicamentos/diabetes/" class="dg-tooltip-hover dg-add-loading">
                    <span class="dg-icon dg-icon-diabetes"></span>
                    <span class="dg-home-sintomas-lista-txt">
                        Diabetes
                    </span>
                    <div class="dg-tooltip">Diabetes</div>
                </a>

                <a href="@Html.Domain()/medicamentos/anti-inflamatorio/" class="dg-tooltip-hover dg-add-loading">
                    <span class="dg-icon dg-icon-dor-musc"></span>
                    <span class="dg-home-sintomas-lista-txt">
                        Dor muscular
                    </span>
                    <div class="dg-tooltip">Dor muscular</div>
                </a>
               
                <a href="@Html.Domain()/nutricao/suplemento/" class="dg-tooltip-hover dg-add-loading">
                    <span class="dg-icon dg-icon-suplementos"></span>
                    <span class="dg-home-sintomas-lista-txt">
                        Suplementos
                    </span>
                    <div class="dg-tooltip">Suplementos</div>
                </a>
            </div>
        </section>

        @* <section class="dg-home-produtos">
            <div class="dg-home-produtos-topo">
                <h2 class="dg-home-produtos-titulo">
                    Mais visitados
                </h2>

                <div class="dg-home-produtos-vermais dg-mobile-hide">
                    <a href="@Html.Domain()/mais-visitados/" class="dg-add-loading"><strong>+</strong> Ver todos</a>
                </div>
            </div>

            <div class="dg-home-boxproduto-slide dg-loading">

                @{
                    ViewData["boxProduto"] = "MaisVisitados";
                    ViewData["fromSlider"] = "fromSlider";
                }

                @await Html.PartialAsync("_TemplateBoxProduto", Model.MaisVisitados, new ViewDataDictionary(ViewData){{"MaisVisitados", ViewData["dasda"]}})
            </div>
        </section> *@

         @* <section class="dg-home-filtropreco">
            <a href="@Html.Domain()/leve-mais-pague-menos/" class="dg-add-loading">
                <span class="dg-home-filtropreco-img dg-tooltip-hover">
                    <img src="@Html.Domain()/assets/img/lazy.png" width="50" height="50" role="presentation" data-src-lazy="@Html.Domain()/assets/img/home/levemais.png" alt="Pague menos e leve mais" loading="lazy">
                    <span class="dg-tooltip">Pague menos e leve mais</span>
                </span>
                <span class="dg-home-filtropreco-txt">Pague menos <strong>e leve mais</strong></span>
            </a>

            <a href="@Html.Domain()/mais-comprados/" class="dg-add-loading">
                <span class="dg-home-filtropreco-img dg-tooltip-hover">
                    <img src="@Html.Domain()/assets/img/lazy.png" width="50" height="50" role="presentation" data-src-lazy="@Html.Domain()/assets/img/home/comprados.png" alt="Os mais comprados" loading="lazy">
                    <span class="dg-tooltip">Os mais comprados</span>
                </span>
                <span class="dg-home-filtropreco-txt">Os mais <strong>comprados</strong></span>
            </a>

            <a href="@Html.Domain()/novos-produtos/" class="dg-add-loading">
                <span class="dg-home-filtropreco-img dg-tooltip-hover">
                    <img src="@Html.Domain()/assets/img/lazy.png" width="50" height="50" role="presentation" data-src-lazy="@Html.Domain()/assets/img/home/novos-produtos.png" alt="Novos Produtos" loading="lazy">
                    <span class="dg-tooltip">Novos Produtos</span>
                </span>
                <span class="dg-home-filtropreco-txt">Novos <strong>Produtos</strong></span>
            </a>

            <a href="@Html.Domain()/promocao-do-dia/" class="dg-add-loading">
                <span class="dg-home-filtropreco-img dg-tooltip-hover">
                    <img src="@Html.Domain()/assets/img/lazy.png" width="50" height="50" role="presentation" data-src-lazy="@Html.Domain()/assets/img/home/pdia.png" alt="Promoção do dia" loading="lazy">
                    <span class="dg-tooltip">Promoção do dia</span>
                </span>
                <span class="dg-home-filtropreco-txt">Promoção <strong>do dia</strong></span>
            </a>
            <a href="@Html.Domain()/maiores-descontos/" class="dg-add-loading">
                <span class="dg-home-filtropreco-img dg-tooltip-hover">
                    <img src="@Html.Domain()/assets/img/lazy.png" width="50" height="50" role="presentation" data-src-lazy="@Html.Domain()/assets/img/home/descontos.png" alt="Os maiores descontos" loading="lazy">
                    <span class="dg-tooltip">Os maiores descontos</span>
                </span>
                <span class="dg-home-filtropreco-txt">Os maiores <strong>descontos</strong></span>
            </a>
        </section> *@

        <div class="dg-home-descontos-destaques">@await Component.InvokeAsync("BannersDestaqueExtra")</div>

        
        <div class="dg-home-produtos-estruturados">
            @{
                ViewData["boxProduto"] = "DestaqueExtra";
                ViewData["fromSlider"] = "fromSlider";
                ViewData["horizontal"] = "horizontal";
            }

            @await Html.PartialAsync("_TemplateBoxProduto", Model.DestaqueExtra, new ViewDataDictionary(ViewData){{"DestaqueExtra", ViewData["dasda"]}})
        </div>

    </div>

    <section class="dg-home-produtos-aproveite">
        <div class="container">
            <section class="dg-home-produtos">
                <div class="dg-home-produtos-topo dg-home-produtos-topo--no-after">
                    <h2 class="dg-home-produtos-titulo">
                        <img src="@Html.Domain()/Themes/DefaultClean/Content/img/icones/discount-shape.svg" />
                        Aproveite e <strong>Compre também</strong>
                    </h2>
                </div>

                <div class="dg-home-boxproduto-slide dg-loading">
                    @{
                        ViewData["boxProduto"] = "MaisVendidos";
                        ViewData["fromSlider"] = "fromSlider";
                        ViewData["horizontal"] = null;

                    }

                    @await Html.PartialAsync("_TemplateBoxProduto", Model.MaisVendidos, new ViewDataDictionary(ViewData){{"MaisVendidos", ViewData["dasda"]}})

                </div>
            </section>
        </div>
    </div>
</main>

<div class="container">
    <div class="dg-home-destaques2-wrapper">
        <section class="dg-home-destaques2">
            @await Component.InvokeAsync("BannersInferiores")
        </section>
        @* <div class="dg-home-destaques2-arrows"></div> *@
    </div>
    @* <section class="dg-home-compretb">
        <div class="dg-home-produtos-topo">
            <h2 class="dg-home-produtos-titulo">
                NAVEGUE POR MARCAS
            </h2>

            <div class="dg-home-produtos-vermais dg-mobile-hide">
                <a href="#"><strong>+</strong> Ver todos</a>
            </div>
        </div>
        <div class="dg-home-compretb-lista dg-loading">
            <div><a href="@Html.Domain()/marcas/ache/" class="dg-home-compretb-item">
                <img src="@Html.Domain()/assets/img/lazy.png" width="160" height="56"  style="width:auto;max-height:100%" class="tns-lazy-img" data-src="@Html.Domain()/assets/img/home/marcas/ache.png" alt="Produtos Aché" title="Produtos Aché" loading="lazy">
            </a></div>


            <div><a href="@Html.Domain()/marcas/gsk/" class="dg-home-compretb-item">
                <img src="@Html.Domain()/assets/img/lazy.png" width="160" height="56"  style="width:auto;max-height:100%" class="tns-lazy-img" data-src="@Html.Domain()/assets/img/home/marcas/gsk.png" alt="Produtos GSK" title="Produtos GSK" loading="lazy">
            </a></div>
            

            <div><a href="@Html.Domain()/marcas/la-roche-posay/" class="dg-home-compretb-item">
                <img src="@Html.Domain()/assets/img/lazy.png" width="160" height="56"  style="width:auto;max-height:100%" class="tns-lazy-img" data-src="@Html.Domain()/assets/img/home/marcas/la-roche.png" alt="Produtos La Roche" title="Produtos La Roche" loading="lazy">
            </a></div>


            <div><a href="@Html.Domain()/marcas/medley/" class="dg-home-compretb-item">
                <img src="@Html.Domain()/assets/img/lazy.png" width="160" height="56"  style="width:auto;max-height:100%" class="tns-lazy-img" data-src="@Html.Domain()/assets/img/home/marcas/medley.png" alt="Produtos Medley" title="Produtos Medley" loading="lazy">
            </a></div>


            <div><a href="@Html.Domain()/marcas/uniao-quimica/" class="dg-home-compretb-item">
                <img src="@Html.Domain()/assets/img/lazy.png" width="160" height="56"  style="width:auto;max-height:100%" class="tns-lazy-img" data-src="@Html.Domain()/assets/img/home/marcas/uniao_quimica_dne.png" alt="Produtos União Química" title="Produtos União Química" loading="lazy">
            </a></div>


            <div><a href="@Html.Domain()/marcas/biolab/" class="dg-home-compretb-item">
                <img src="@Html.Domain()/assets/img/lazy.png" width="160" height="56"  style="width:auto;max-height:100%" class="tns-lazy-img" data-src="@Html.Domain()/assets/img/home/marcas/biolab.png" alt="Produtos Biolab" title="Produtos Biolab" loading="lazy">
            </a></div>


            <div><a href="@Html.Domain()/marcas/sanofi/" class="dg-home-compretb-item">
                <img src="@Html.Domain()/assets/img/lazy.png" width="160" height="56"  style="width:auto;max-height:100%" class="tns-lazy-img" data-src="@Html.Domain()/assets/img/home/marcas/sanofi2.jpg" alt="Produtos Sanofi" title="Produtos Sanofi" loading="lazy">
            </a></div>


            <div><a href="@Html.Domain()/marcas/germed/" class="dg-home-compretb-item">
                <img src="@Html.Domain()/assets/img/lazy.png" width="160" height="56"  style="width:auto;max-height:100%" class="tns-lazy-img" data-src="@Html.Domain()/assets/img/home/marcas/germed.png" alt="Produtos Germed" title="Produtos Germed" loading="lazy">
            </a></div>


            <div><a href="@Html.Domain()/marcas/abbott/" class="dg-home-compretb-item">
                <img src="@Html.Domain()/assets/img/lazy.png" width="160" height="56"  style="width:auto;max-height:100%" class="tns-lazy-img" data-src="@Html.Domain()/assets/img/home/marcas/abbott.png" alt="Produtos Abbot" title="Produtos Abbot" loading="lazy">
            </a></div>


            <div><a href="@Html.Domain()/marcas/mead-johnson/" class="dg-home-compretb-item">
                <img src="@Html.Domain()/assets/img/lazy.png" width="160" height="56"  style="width:auto;max-height:100%" class="tns-lazy-img" data-src="@Html.Domain()/assets/img/home/marcas/mead.png" alt="Produtos Mead" title="Produtos Mead" loading="lazy">
            </a></div>

            <div><a href="@Html.Domain()/marcas/galderma/" class="dg-home-compretb-item">
                <img src="@Html.Domain()/assets/img/lazy.png" width="160" height="56"  style="width:auto;max-height:100%" class="tns-lazy-img" data-src="@Html.Domain()/assets/img/home/marcas/galderma.png" alt="Produtos Galderma" title="Produtos Galderma" loading="lazy">
            </a></div>


            <div><a href="@Html.Domain()/marcas/danone/" class="dg-home-compretb-item">
                <img src="@Html.Domain()/assets/img/lazy.png" width="160" height="56"  style="width:auto;max-height:100%" class="tns-lazy-img" data-src="@Html.Domain()/assets/img/home/marcas/danone.png" alt="Produtos Danone" title="Produtos Danone" loading="lazy">
            </a></div>
        </div>
    </section> *@

</div>

<script id="dg-modal-recompra-dois" type="text/x-jquery-tmpl">
        <div class="dg-modal-recompra">

            <div class="dg-modal-recompra-topo">
                <div class="dg-recompra-mascote">
                    <img src="@Html.Domain()/assets/img/institucional/mascote2.png" alt="Mascote - Farmacia Mix">
                </div>

                <div class="dg-recompra-chamada" role="alert">
                    <h4 class="dg-recompra-nome nomeclienterecompra">Olá.</h4>
                    <p class="dg-recompra-texto">
                        Notamos que você já tem pedidos conosco, gostaria de repetir algum deles?
                    </p>
                    <p class="dg-recompra-texto">Veja abaixo suas últimas compras:</p>

                    <div class="dg-recompra-pedidos">
                        {for itens in pedidos}
                        <a class="dg-recompra-pedidos-numero" href="javascript:void(0)" id="${itens}">
                            <span class="dg-recompra-bullet"></span><span class="dg-recompra-numero-pedido">
        Pedido: ${itens}
    </span>
                        </a>
                        {/for}

                    </div>
                </div>
            </div>

            <div id="tab-container">
                <div id="dg-pedido-um">

                </div>
            </div>
        </div>
</script>
<script id="dg-modal-recompra-itens" type="text/x-jquery-tmpl">
    <div class="dg-recompra-lista">
        <div class="dg-recompra-lista-topo">
            <div class="dg-recompra-produto-titulo">Produto</div>
            <div class="dg-recompra-produto-valor">Valor unitário</div>
            <div class="dg-recompra-produto-qtd">QTD</div>
            <div class="dg-recompra-produto-subtotal">Sub Total</div>
        </div>


        <div class="dg-recompra-lista-produtos">
            {for itens in ItensCart}
            {var indis = ''}
            {if itens.Estoque <= 0}
            {var indis = '-indisponivel'}
            {/if}
            <div class="dg-recompra-produto">

                <div class="dg-recompra-produto-info-img${indis}">
                    <img class="dg-recompra-produto-img" src="/imagens/75x75/${itens.Foto}" alt="">
                    <div class="dg-recompra-produto-info">
                        <div class="dg-recompra-produto-info-nome">${itens.NomeProduto}</div>
                        <div class="dg-recompra-produto-info-cod">Cód. do produto: ${itens.ID_SubProduto}</div>
                        <div class="dg-recompra-produto-info-marca">Marca: ${itens.Marca}</div>
                    </div>

                </div>

                <div class="dg-recompra-valor${indis}"> <span class="dg-desktophide">Valor Unitário</span> <span id="valoruni${itens.ID_SubProduto}">R$ ${itens.ValorUnitario}</span></div>

                <div class="dg-recompra-qtd">

                    <div class="qtd">
                        {if itens.Estoque <= 0}
                        <div class="dg-recompra-indisponivel">
                            Indisponível
                        </div>
                        {else}
                        <div class="controle-qtd">

                            <form _lpchecked="1" class="for-carrinho-recompra">

                                <div>
                                    <input type="number" id="qtd-recompra${itens.ID_SubProduto}" value="${itens.Qtd}" maxlength="4">
                                    <a href="javascript:void(0)" class="mais-qtd" rel="${itens.ID_SubProduto}">+</a>
                                    <a href="javascript:void(0)" class="menos-qtd" rel="${itens.ID_SubProduto}">-</a>

                                </div>

                            </form>
                            <input type="hidden" id="qtd-recompra-estoque${itens.ID_SubProduto}" value="${itens.Estoque}">
                        </div>
                        {/if}
                        <div class="clearfix"></div>

                    </div>
                </div>
                <span style="display:none" class="arrayItens">{"id": ${itens.ID_SubProduto},"qtd":<span id="qtd-recompra-array${itens.ID_SubProduto}">${itens.Qtd}</span>}</span>

                <div class="dg-recompra-subtotal${indis}"> <span class="dg-desktophide">Sub-total</span> <span id="valorsub${itens.ID_SubProduto}" class="loopValor">R$ ${itens.ValorTotal}</span></div>

            </div>
            {/for}

        </div>
    </div>
    <div class="dg-recompra-compra">
        <div class="dg-recompra-valor-total">

            <div class="dg-recompra-total-valor-chamada">
                Valor Total:
            </div>

            <div class="dg-recompra-total-valor-numero" id="valor-total-carrinho">
                R$ ${ValorTotalCarrinho}

            </div>
        </div>
        <div class="dg-recompra-botao-recomprar">
            <a href="javascript:void(0)" class="dg-btn-sucesso" id="bt-recompra">Recomprar</a>
        </div>
    </div>
</script>
<div class="dg-modal-recompra-dois" style="display:none"></div>
<div class="dg-moda-recompra-tres" id="jSmodal3" style="display:none">
    <div class="dg-modal-recompra-sucesso">
        <div class="dg-modal-recompra-topo">
            <div class="dg-recompra-mascote">
                <img src="/assets/img/mascote/mascote_recompra.png" alt="Farmacia Mix" title="Farmacia Mix">
            </div>
            <div class="dg-recompra-sucesso-chamada">
                <span class="dg-recompra-nome">Ótimo.</span>
                <p class="dg-recompra-texto">
                    Seus produtos foram adicionados ao carrinho, o que gostaria de fazer agora?
                </p>
                <div class="dg-recompra-sucesso-botoes">
                    <button class="dg-recompra-botao-continuar dg-fechar2 dg-fechar3" href="@Html.Domain()/">
                        Continuar comprando
                    </button>
                    <a class="dg-recompra-botao-carrinho" href="@Html.Domain()/checkout/">
                        Ir para o carrinho
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // dataLayer.push({ google_tag_params: { ecomm_pagetype: 'home' } });
    dataLayer.push({
        google_tag_params: { ecomm_pagetype: 'home' },
        event: 'crto_homepage'
    });
</script>

@Html.Raw(@Model.SEOJson)
@*@Html.Raw(@Model.SEOOrganization)*@

@{
    Html.AddCssFileParts(ResourceLocation.Head, "~/assets/css/Home.css", false);
    Html.AddScriptParts(ResourceLocation.Footer, "~/assets/js/slick.js", false);
    Html.AddScriptParts(ResourceLocation.Footer, "~/Themes/DefaultClean/Content/js/Home_v7.js", false);
}