@{
    ViewData["BodyID"] = "institucional-nossa-historia-pg";
}

<!--Conteudo-->
<div class="container"> 
    @* BreadCrumb *@
    <ul class="dg-institucional-breadcrumb" vocab="https://schema.org/" typeof="BreadcrumbList">

        <li property="itemListElement" typeof="ListItem" itemscope itemtype="https://schema.org/ListItem">
            <a href="@Html.Domain()/" property="item" typeof="WebPage">
                <span property="name">Home</span>
            </a>
            <meta property="position" content="1">
            <meta property="name" content="Home">
        </li>



        <li property="itemListElement" typeof="ListItem" itemscope itemtype="https://schema.org/ListItem">
            <a href="@ViewBag.UrlBreadcrumb" property="item" typeof="WebPage">
                <span property="name">Nossa História</span>
            </a>
            <meta property="position" content="2">
            <meta property="name" content="Nossa História">
        </li>


    </ul>
    @* /BreadCrumb *@


    <h1 class="dg-institucional-titulo">
        Nossa <b>história</b>
    </h1>
    <main id="main" class="dg-institucional dg-institucional-nossahistoria-wrapper">
        
        <div class="dg-institucional-nossahistoria">
            <div class="dg-txt">
                <p>
                    Em 2011, na região noroeste de São Paulo, nascia a Farmácia Mix. Sempre focada no bom atendimento, criando uma relação de confiança com o cliente.<br><br>

Nosso compromisso vai além de simples transações comerciais; visamos a saúde e o bem-estar dos nossos clientes, proporcionando soluções farmacêuticas eficientes e acessíveis.<br><br>

Acreditamos que a inovação é fundamental para acompanhar as constantes mudanças no cenário farmacêutico, por isso, investimos em tecnologia e processos que otimizam a experiência de compra no nosso e-commerce. Aqui, você encontra uma plataforma intuitiva, segura e de fácil navegação, garantindo a comodidade que você merece.<br><br>

Além disso, contamos com uma equipe de profissionais altamente capacitados, incluindo farmacêuticos prontos para esclarecer dúvidas e fornecer orientações personalizadas. Acreditamos que o conhecimento e a empatia são a base de um atendimento eficaz, e é isso que buscamos oferecer a cada cliente que escolhe a Farmácia Mix.<br><br>

Ao longo dos anos, construímos uma sólida reputação pautada na transparência, honestidade e comprometimento com a qualidade. Fazemos parte de uma tradição de mais de cinco décadas do Grupo Drogaria Nova Esperança, e essa herança nos impulsiona a continuar crescendo e evoluindo para atender às necessidades da comunidade.<br><br>

Na Farmácia Mix, cada cliente é valorizado, e cada pedido é tratado com o máximo cuidado. Agradecemos a confiança depositada em nós ao longo desses anos e estamos comprometidos em seguir oferecendo os melhores produtos e serviços, sempre com a dedicação que nos tornou referência no setor farmacêutico. Junte-se a nós nessa jornada em busca de saúde, qualidade de vida e preços justos.
                </p>
            </div>
            <div class="dg-img">
                <img src="@Html.Domain()/Themes/DefaultClean/Content/img/nossa-historia.png" alt="Farmacêutico" />
            </div>
        </div>
    </main>
</div>
@Html.Raw(@ViewBag.SEOOrganization)
<!--Conteudo--> 

@{
    Html.AddCssFileParts(ResourceLocation.Head, "~/assets/css/Institucional.css", false);
}