@using DNE.Site.ViewServices;
@inject DNE.Site.ViewServices.HeaderView oHeaderView

@{
    var BannerMensagemClasse = "";
    var OHeader = oHeaderView.GetHeader(ViewData["BodyID"] != null ? ViewData["BodyID"].ToString() : "");
}

<web-antiforgery-token />

@if (OHeader.BannerMensagemTopo.IsAtivo)
{
    BannerMensagemClasse = "dg-tem-banner-mensagem-top";
}

<header class="dg-header @BannerMensagemClasse">

    <input type="hidden" name="FBAPP_ID" id="FBAPP_ID" value="636648873464236" />
    <input type="hidden" name="FBAPP_ID" id="G_client_id" value="1028179406320-c2tcqbvotsek6o48gnq8h44kuvc2ui6h.apps.googleusercontent.com" />

    <!-- Acessibilidade -->
    <a href="#main" class="dg-ac-irpara">
        Ir para o Conteúdo
    </a>
    <!-- /Acessibilidade -->
    <!-- Itens principais do header -->

    <div class="container">
        @if (OHeader.BannerMensagemTopo.IsAtivo)
        {
            <a class="dg-conteudounico-header" href="@OHeader.BannerMensagemTopo.Url" aria-label="Acessar página do evento">
                <div class="dg-conteudounico-header__icone" style="background-image:url(https://static.drogarianovaesperanca.com.br/marcas/@OHeader.BannerMensagemTopo.Icone)"></div>
                <p class="dg-conteudounico-header__texto-wrapper jsHeaderAvisoTexto">
                    <span class="dg-conteudounico-header__texto">
                        @OHeader.BannerMensagemTopo.Texto
                    </span>
                    <span class="dg-conteudounico-header__texto--2">
                        @OHeader.BannerMensagemTopo.Texto
                    </span>
                </p>
            </a>
        }
        <div class="dg-header-topo dg-ativo-busca">
            <div class="dg-header-logo">
                <a href="@Html.Domain()/" class="dg-add-loading">
                    <img src="@Html.Domain()/Themes/DefaultClean/Content/img/header/logo.png" alt="Drogaria Nova Esperança - Logotipo" loading="lazy">
                </a>
            </div>

            <a href="javascript:void(0)" class="dg-header-m-abrirmenu" aria-label="Abrir menu principal" role="menuitem" menuaba="Principal">
                <span></span>
                <span></span>
                <span></span>
            </a>
            <meta itemprop="url" content="@Html.Domain()" />
            <div class="jsHeaderEventTimer dg-countdown-wrapper" style="display:none"></div>
            <form class="dg-header-busca" action="/busca/" name="formBusca" id="formBuscaTopo">
                <input autocorrect="off" autocapitalize="off" spellcheck="false" name="q" id="qPrincipal" required autocomplete="off" maxlength="60" type="text" class="dg-header-busca-input">
                <label for="qPrincipal" class="dg-header-busca-label">O que você está procurando hoje?</label>
                @* <div id="ResultadoAutoCompleteBusca"></div> *@
                <!-- Usei button por semântica, mas pode trocar por "a" se preferir -->
                <button aria-label="Buscar" class="dg-header-busca-btn" type="submit">
                    <span class="dg-icon dg-icon-search"></span>
                </button>

                <div class="dg-header-busca-auto">
                    @* <div class="dg-header-busca-auto-destaque"></div> *@
                    <div class="dg-header-busca-sem-pesquisa dg-hide">
                        <div class="dg-header-busca-sem-pesquisa__titulo">Mais Buscados</div>
                        <ol class="dg-header-busca-sem-pesquisa__lista">
                            <li>Vitaminas Neo Quimica</li>
                            <li>Vitaminas Neo Quimica</li>
                            <li>Vitaminas Neo Quimica</li>
                            <li>Vitaminas Neo Quimica</li>
                            <li>Vitaminas Neo Quimica</li>
                            <li>Vitaminas Neo Quimica</li>
                            <li>Vitaminas Neo Quimica</li>
                            <li>Vitaminas Neo Quimica</li>
                            <li>Vitaminas Neo Quimica</li>
                            <li>Vitaminas Neo Quimica</li>
                            <li>Vitaminas Neo Quimica</li>
                            <li>Vitaminas Neo Quimica</li>
                        </ol>
                    </div>
                    <div class="dg-header-busca-auto-lista"></div>
                    <div class="dg-header-busca-bdestaque">
                        <img src="@Html.Domain()/Themes/DefaultClean/Content/img/header-banner.png" width="100%">
                    </div>
                </div>
            </form>
            <div class="dg-header-busca-overlay"></div>
            
            <div class="dg-header-sac">
                <div class="dg-icon dg-icon-sac"></div>
                <div class="dg-header-sac__block-wrapper">
                    <div class="dg-header-sac__block">
                        <div class="dg-header-sac__title">SAC</div>
                        <div class="dg-header-sac__text">(11) 3990-5089</div>
                    </div>
                    <div class="dg-header-sac__block">
                        <div class="dg-header-sac__title">Televendas</div>
                        <div class="dg-header-sac__text">(11) 3990-7720</div>
                    </div>
                </div>
            </div>

            <div class="dg-header-luz">
                <button type="button" class="dg-header-luz-btn jsMudaTema">
                    <svg xmlns="https://www.w3.org/2000/svg" width="26.534" height="26.516" viewBox="0 0 26.534 26.516">
                        <path d="M144.471,61.508a.714.714,0,0,0-.68.712v2.4a.714.714,0,1,0,1.423,0v-2.4a.631.631,0,0,0,0-.074.714.714,0,0,0-.743-.637Zm-8.792,2.708c-.025,0-.05.006-.074.011a.714.714,0,0,0-.425,1.221l1.317,1.317a.714.714,0,1,0,1.009-1.009l-1.317-1.317a.713.713,0,0,0-.51-.223Zm17.744,0-.011.011a.713.713,0,0,0-.414.212l-1.317,1.317h0a.714.714,0,1,0,1.009,1.009l1.317-1.317h0a.714.714,0,0,0-.584-1.232Zm-8.835,2.761a6.6,6.6,0,0,0-6.541,6.562,7.5,7.5,0,0,0,1.837,5.15,8.243,8.243,0,0,1,2.081,4.046h5.256a8.242,8.242,0,0,1,2.081-4.046,7.5,7.5,0,0,0,1.837-5.15,6.606,6.606,0,0,0-6.552-6.562Zm-10.056,6.116a.711.711,0,0,0-.074.011h-2.4a.637.637,0,0,0-.074,0,.714.714,0,0,0,.074,1.423h2.4a.718.718,0,1,0,.074-1.434Zm22.67.053a.653.653,0,0,0-.074.011h-1.975a.636.636,0,0,0-.074,0,.714.714,0,0,0,.074,1.423h1.975a.718.718,0,1,0,.074-1.434Zm-19.793,7.093h0c-.021,0-.043.006-.064.01a.714.714,0,0,0-.425.212l-1.7,1.7a.714.714,0,1,0,1.009,1.009l1.7-1.7a.714.714,0,0,0-.52-1.232Zm14.346,0h0a.719.719,0,0,0-.5,1.232l1.7,1.7a.714.714,0,1,0,1.009-1.009l-1.7-1.7a.713.713,0,0,0-.51-.223Zm-9.748,3.929v3.249a.6.6,0,0,0,.605.605h3.961a.6.6,0,0,0,.605-.605V84.168Z" transform="translate(-131.349 -61.507)" fill="currentColor"/>
                    </svg>
                </button>
            </div>

            <div class="dg-header-minhaconta">
                <a href="javascript:void(0)" aria-label="Minha conta" class="dg-tooltip-hover">
                    <span class="dg-icon dg-icon-user"></span>
                    @* <span class="dg-tooltip">Minha Conta</span> *@
                    <div class="dg-header-minhaconta__logar jsMenuLoginPreview dg-loading">
                        @* <div class="dg-header-minhaconta__logar1">Bem-vindo de volta</div>
                        <div class="dg-header-minhaconta__logar2">Entre na sua conta</div> *@
                    </div>
                </a>
            </div>

            <script id="templateLogadoMenu" type="text/x-jquery-tmpl">
                {if RetornoLogado.logado}
                    <div class="dg-header-minhaconta__logar1">Bem-vindo, <strong>${RetornoLogado.NomeCliente}</strong></div>
                    @* <div class="dg-header-minhaconta__logar2">Entre na sua conta</div> *@
                {else}
                    <div class="dg-header-minhaconta__logar1">Bem-vindo de volta</div>
                    <div class="dg-header-minhaconta__logar2">Entre na sua conta</div>
                {/if}
            </script>
            <script id="templateLogadoLogado" type="text/x-jquery-tmpl">

                {if RetornoLogado.logado}
                <div class="dg-desktop-hide dg-menu-login-mobile">
                    <img src="@Html.Domain()/Themes/DefaultClean/Content/img/icones/frame-mobile.svg" width="37" height="37">
                    <div class="dg-menu-login-mobile-top">
                        <div>Bem-vindo, <strong>${RetornoLogado.NomeCliente}</strong></div>
                        <div class="dg-menu-login-mobile-bottom">
                            <a href="@Html.Domain()/central-do-cliente/?url=editarDados">
                                Central do Cliente
                            </a>
                            <a href="javascript:void(0)" class="logOutCliente">
                                Sair
                            </a>
                        </div>
                    </div>
                </div>
                <div class="dg-header-minhaconta-modal dg-logado">
                    @* <a href="javascript:void(0)" class="dg-header-minhaconta-modal-fechar dg-desktop-hide jsMobileFecharMenuLogin"><span class="dg-icon dg-icon-arrow01-left"></span>Voltar</a>
                    <div class="dg-header-minhaconta-modal-topo">
                        <div class="dg-titulo">Bem-vindo, <strong>${RetornoLogado.NomeCliente}</strong></div>
                    </div> *@
                    <nav class="dg-header-minhaconta-modal-login">
                        <ul>
                            <li>
                                <a href="@Html.Domain()/central-do-cliente/?url=meusPedidos" class="dg-add-loading">
                                    Meus pedidos
                                </a>
                            </li>
                            <li>
                                <a href="@Html.Domain()/central-do-cliente/?url=editarDados" class="dg-add-loading">
                                    Central do Cliente
                                </a>
                            </li>
                            <li>
                                <a href="@Html.Domain()/central-do-cliente/?url=alterarSenha" class="dg-add-loading">
                                    Alterar senha
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="logOutCliente">
                                    Sair
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                {else}
                <div class="dg-desktop-hide dg-menu-login-mobile">
                    <img src="@Html.Domain()/Themes/DefaultClean/Content/img/icones/frame-mobile.svg" width="37" height="37" alt="ìcone de usuário">
                    <div>
                        <div class="dg-menu-login-mobile-top">Bem-vindo, <strong>visitante</strong></div>
                        <div class="dg-menu-login-mobile-bottom">
                            <a href="javascript:void(0)" class="jsMobileAbrirEntrar">
                                Entre
                            </a>
                            ou
                            <a href="javascript:void(0)" class="jsMobileAbrirCriarConta">
                                Crie sua conta
                            </a>
                        </div>
                    </div>
                </div>
                <div class="dg-header-minhaconta-modal">
            


                    <div class="dg-header-minhaconta-flex">
                        <a href="javascript:void(0)" class="dg-header-minhaconta-modal-fechar dg-desktop-hide jsMobileFecharMenuLogin"><span class="dg-icon dg-icon-arrow01-left"></span>Voltar</a>
                        <div class="dg-desktop-hide dg-header-minhaconta-title-mobile">
                            Se ainda não tem perfil <span>cadastre-se</span> ou <span>faça login</span> em sua conta.
                        </div>
                        <div class="dg-desktop-hide dg-header-minhaconta-title-mobile dg-style-cookie">
                           <span>Faça login</span> em sua conta ou <span>cadastre-se</span>, se ainda não tem conta.
                        </div>
                        <form class="dg-header-minhaconta-modal-cadastro jsHeaderMinhacontaModalCadastro" id="modalCadastro" onsubmit="return false;" autocomplete="off">
                            <div class="dg-titulo">
                                <strong>Novo</strong> usuário?
                                <p>
                                    Seus dados serão cadastrados em um servidor seguro com total segurança.
                                </p>
                            </div>
                            <div class="dg-titulo dg-style-cookie">
                                Ainda não tem conta?
                                <p>
                                    Seus dados serão cadastrados em um servidor seguro com total segurança. 
                                </p>
                            </div>
                            <div class="dg-header-minhaconta-modal-conteudo">
                                <div>
                                    <input required validar type="tel" id="VeryCPF" mascara="cpf">
                                    <label for="VeryCPF">Digite seu CPF:</label>
                                </div>
                            </div>

                            <div class="dg-header-minhaconta-modal-footer">
                                <a href="javascript:void(0)" class="dg-header-minhaconta-modal-footer-google-btn" onclick="Cliente.EfetuarLoginGoogle()" >
                                    <img src="@Html.Domain()/assets/img/lazy.png" data-src-lazy="@Html.Domain()/assets/img/header/google.png" alt="Google Logo">
                                </a>
                                <a href="javascript:void(0)" onclick="Cliente.EfetuarLoginFaceBook()" class="dg-header-minhaconta-modal-footer-fb-btn">
                                    <img src="@Html.Domain()/assets/img/lazy.png" data-src-lazy="@Html.Domain()/assets/img/header/facebook.png" alt="facebook Logo">
                                </a>
                                <button type="submit" class="dg-header-minhaconta-modal-footer-btn dg-header-minhaconta-modal-cadastrar-footer-btn">
                                    Cadastrar-se
                                </button>
                                
                                <a href="@Html.Domain()/cadastro" class="dg-header-minhaconta-modal-footer-btn dg-header-minhaconta-modal-cadastrar-footer-btn dg-style-cookie">
                                    Me cadastrar agora
                                </a>

                                @* <a href="javascript:void(0)" class="dg-header-minhaconta-modal-footer-voltar-btn">
                                    Voltar
                                </a> *@
                            </div>
                        </form>
                        <div>
                            <form class="dg-header-minhaconta-modal-login jsHeaderMinhacontaModalLogin" id="modalLogin" onsubmit="return false;" autocomplete="off">
                                <div class="dg-titulo">
                                    Fazer <strong>Login</strong>
                                </div>
                                <div class="dg-titulo dg-style-cookie">
                                    Fazer <strong>Login</strong>
                                </div>
                                <div class="dg-header-minhaconta-modal-conteudo">
                                    <div id="campoUsuarioLogin">
                                        <input required type="text" mascara="lowercase" id="LoginUsuario" name="LoginUsuario">
                                        <label for="LoginUsuario">Digite seu e-mail ou CPF:</label>
                                    </div>

                                    <div id="campoSenhaLogin">
                                        <input required type="password" id="LoginSenha" name="LoginSenha">
                                        <label for="LoginSenha">Digite sua Senha</label>
                                    </div>
                                </div>

                                <div class="dg-header-minhaconta-modal-footer">
                    

                                     <div class="dg-header-minhaconta-modal-topo dg-header-minhaconta-modal-esqueci-url">
                                        <a href="javascript:void(0)">                                            
                                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M4.63486 17.0629C4.55986 17.0629 4.47736 17.0554 4.40986 17.0479L2.78236 16.8229C2.00236 16.7179 1.29736 16.0204 1.17736 15.2254L0.952358 13.5829C0.877358 13.0579 1.10236 12.3754 1.47736 11.9929L4.76986 8.70043C4.23736 6.57043 4.85236 4.32043 6.41986 2.76793C8.84986 0.345431 12.8024 0.337931 15.2399 2.76793C16.4174 3.94543 17.0624 5.51293 17.0624 7.17793C17.0624 8.84293 16.4174 10.4104 15.2399 11.5879C13.6649 13.1479 11.4224 13.7629 9.30736 13.2229L6.00736 16.5154C5.69236 16.8454 5.12986 17.0629 4.63486 17.0629ZM10.8224 2.07043C9.50986 2.07043 8.20486 2.56543 7.20736 3.56293C5.85736 4.90543 5.36986 6.87043 5.93236 8.70043C5.99236 8.90293 5.93986 9.11293 5.78986 9.26293L2.26486 12.7879C2.13736 12.9154 2.03236 13.2454 2.05486 13.4179L2.27986 15.0604C2.32486 15.3454 2.63236 15.6679 2.91736 15.7054L4.55236 15.9304C4.73236 15.9604 5.06236 15.8554 5.18986 15.7279L8.72986 12.1954C8.87986 12.0454 9.09736 12.0004 9.29236 12.0604C11.0999 12.6304 13.0724 12.1429 14.4224 10.7929C15.3824 9.83293 15.9149 8.54293 15.9149 7.17793C15.9149 5.80543 15.3824 4.52293 14.4224 3.56293C13.4474 2.57293 12.1349 2.07043 10.8224 2.07043Z" fill="#00D19D"/>
                                            <path d="M6.89256 15.4048C6.75006 15.4048 6.60756 15.3523 6.49506 15.2398L4.77006 13.5148C4.55256 13.2973 4.55256 12.9373 4.77006 12.7198C4.98756 12.5023 5.34756 12.5023 5.56506 12.7198L7.29006 14.4448C7.50756 14.6623 7.50756 15.0223 7.29006 15.2398C7.17756 15.3523 7.03506 15.4048 6.89256 15.4048Z" fill="#00D19D"/>
                                            <path d="M10.875 8.8125C9.945 8.8125 9.1875 8.055 9.1875 7.125C9.1875 6.195 9.945 5.4375 10.875 5.4375C11.805 5.4375 12.5625 6.195 12.5625 7.125C12.5625 8.055 11.805 8.8125 10.875 8.8125ZM10.875 6.5625C10.5675 6.5625 10.3125 6.8175 10.3125 7.125C10.3125 7.4325 10.5675 7.6875 10.875 7.6875C11.1825 7.6875 11.4375 7.4325 11.4375 7.125C11.4375 6.8175 11.1825 6.5625 10.875 6.5625Z" fill="#00D19D"/>
                                            </svg>

                                            <strong class="dg-txt">
                                                Esqueceu
                                                <strong>a senha?</strong>
                                            </strong>
                                        </a>
                                    </div>
                                     
                                     <div class="dg-header-minhaconta-modal-topo dg-header-minhaconta-modal-esqueci-url dg-style-cookie">
                                        <a href="javascript:void(0)">                                            
                                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M4.63486 17.0629C4.55986 17.0629 4.47736 17.0554 4.40986 17.0479L2.78236 16.8229C2.00236 16.7179 1.29736 16.0204 1.17736 15.2254L0.952358 13.5829C0.877358 13.0579 1.10236 12.3754 1.47736 11.9929L4.76986 8.70043C4.23736 6.57043 4.85236 4.32043 6.41986 2.76793C8.84986 0.345431 12.8024 0.337931 15.2399 2.76793C16.4174 3.94543 17.0624 5.51293 17.0624 7.17793C17.0624 8.84293 16.4174 10.4104 15.2399 11.5879C13.6649 13.1479 11.4224 13.7629 9.30736 13.2229L6.00736 16.5154C5.69236 16.8454 5.12986 17.0629 4.63486 17.0629ZM10.8224 2.07043C9.50986 2.07043 8.20486 2.56543 7.20736 3.56293C5.85736 4.90543 5.36986 6.87043 5.93236 8.70043C5.99236 8.90293 5.93986 9.11293 5.78986 9.26293L2.26486 12.7879C2.13736 12.9154 2.03236 13.2454 2.05486 13.4179L2.27986 15.0604C2.32486 15.3454 2.63236 15.6679 2.91736 15.7054L4.55236 15.9304C4.73236 15.9604 5.06236 15.8554 5.18986 15.7279L8.72986 12.1954C8.87986 12.0454 9.09736 12.0004 9.29236 12.0604C11.0999 12.6304 13.0724 12.1429 14.4224 10.7929C15.3824 9.83293 15.9149 8.54293 15.9149 7.17793C15.9149 5.80543 15.3824 4.52293 14.4224 3.56293C13.4474 2.57293 12.1349 2.07043 10.8224 2.07043Z" fill="#00D19D"/>
                                            <path d="M6.89256 15.4048C6.75006 15.4048 6.60756 15.3523 6.49506 15.2398L4.77006 13.5148C4.55256 13.2973 4.55256 12.9373 4.77006 12.7198C4.98756 12.5023 5.34756 12.5023 5.56506 12.7198L7.29006 14.4448C7.50756 14.6623 7.50756 15.0223 7.29006 15.2398C7.17756 15.3523 7.03506 15.4048 6.89256 15.4048Z" fill="#00D19D"/>
                                            <path d="M10.875 8.8125C9.945 8.8125 9.1875 8.055 9.1875 7.125C9.1875 6.195 9.945 5.4375 10.875 5.4375C11.805 5.4375 12.5625 6.195 12.5625 7.125C12.5625 8.055 11.805 8.8125 10.875 8.8125ZM10.875 6.5625C10.5675 6.5625 10.3125 6.8175 10.3125 7.125C10.3125 7.4325 10.5675 7.6875 10.875 7.6875C11.1825 7.6875 11.4375 7.4325 11.4375 7.125C11.4375 6.8175 11.1825 6.5625 10.875 6.5625Z" fill="#00D19D"/>
                                            </svg>

                                            <strong class="dg-txt">
                                                Esqueceu
                                                <strong>a senha?</strong>
                                            </strong>
                                        </a>
                                    </div>

                                    <button type="submit" class="dg-header-minhaconta-modal-footer-btn btn-login-modal">
                                        Entrar
                                    </button>

                                    <button type="submit" class="dg-header-minhaconta-modal-footer-btn btn-login-modal-senha" style="display:none">
                                        Entrar
                                    </button>
                                    <div class="dg-header-minhaconta-modal-footer-social">
                                        @* <a href="javascript:void(0)" class="dg-header-minhaconta-modal-footer-google-btn" onclick="Cliente.EfetuarLoginGoogle()" >
                                            <img src="@Html.Domain()/assets/img/lazy.png" data-src-lazy="@Html.Domain()/assets/img/header/google.png" alt="Google Logo">
                                        </a>

                                        <a href="javascript:void(0)" onclick="Cliente.EfetuarLoginFaceBook()" class="dg-header-minhaconta-modal-footer-fb-btn">
                                            <img src="@Html.Domain()/assets/img/lazy.png" data-src-lazy="@Html.Domain()/assets/img/header/facebook.png" alt="facebook Logo">
                                        </a> *@
                                    </div>
                                </div>
                                @* <a href="javascript:void(0)" class="dg-header-minhaconta-modal-criarconta-btn jsMobileAbrirCriarConta dg-desktop-hide">
                                    <span class="dg-icon dg-icon-user"></span>
                                    <span class="dg-txt">
                                        Não é cliente?
                                        <strong>Crie sua conta!</strong>
                                    </span>
                                </a> *@
                            </form>
                            <form class="dg-header-minhaconta-modal-esquecisenha jsHeaderMinhacontaModalEsqueciSenha" onsubmit="return false;" name="form-senha" id="form-senha" autocomplete="off">
                                <div class="dg-form-senha-step dg-step-ativo" data-form-senha-step="1">
                                    <div class="dg-titulo">
                                        Esqueceu sua senha?
                                        <p>
                                            Preencha seu e-mail ou CPF abaixo para receber uma solicitação de mudança.
                                        </p>
                                    </div>
                                    <div class="dg-titulo dg-style-cookie">
                                        Esqueceu sua senha?
                                        <p>
                                            Preencha seu e-mail ou CPF abaixo para receber uma solicitação de mudança.
                                        </p>
                                    </div>
                                    <div class="dg-header-minhaconta-modal-conteudo">
                                        <div>
                                            <input id="EsqueciSenhaEmail" required validar type="text" mascara="lowercase">
                                            <label for="EsqueciSenhaEmail">Informe seu e-mail ou CPF:</label>
                                        </div>
                                    </div>

                                    <div class="dg-header-minhaconta-modal-footer">
                                        <button type="submit" class="dg-header-minhaconta-modal-footer-btn dg-header-minhaconta-modal-footer-esqueci-btn">
                                            Prosseguir
                                        </button>

                                        <a href="javascript:void(0)" class="dg-header-minhaconta-modal-footer-voltar-btn">
                                            Voltar ao login
                                        </a>
                                    </div>
                                </div>
                                <div class="dg-form-senha-step" data-form-senha-step="2"></div>
                                <div class="dg-form-senha-step" data-form-senha-step="3"></div>
                            </form>
                        </div>
                    </div>
                </div>
                {/if}
                <div class="dg-header-minhaconta-modal-overlay dg-mobile-hide"></div>
            </script>
            <script id="templateEsqueciSenhaResultado" type="text/x-jquery-tmpl">
                {if Data.tipo == "1"}
                <div class="dg-form-senha-email" style="text-align:center">
                    <div class="dg-titulo">
                        <div class="dg-icon dg-icon-avise-me" style="font-size: 40px;color: #00D19D;"></div>
                        Agora, crie sua nova senha
                        <p>
                            Para isso, siga o link que enviamos para <b>${Data.EMail}</b>.<br>
                            Se não encontrar, verifique a caixa de spam.
                        </p>
                    </div>
                    <div class="dg-header-minhaconta-modal-conteudo">
                        <button type="button" class="jsVoltarParaLoginSenha dg-header-minhaconta-modal-footer-voltar-style">Voltar para o login</button>
                        <div style="text-align:center">
                            <button type="button" class="jsReenviarEmail dg-header-minhaconta-modal-footer-reenviar">Reenviar e-mail <span class="jsReenviarEmailTimer"></span></button>
                        </div>
                    </div>
                </div>
                {elseif Data.tipo == "2"}
                <div class="dg-form-senha-celular" style="text-align:center">
                    <div class="dg-titulo">
                        Insira o código de verificação
                        <p>
                            Um código de 6 digitos foi enviado por SMS
                        </p>
                        <div class="dg-input-wrapper">
                            <input type="text" maxlength="1" class="jsCodigoSmsInputEsqueciSenha" name="smsCodigo[]" />
                            <input type="text" maxlength="1" class="jsCodigoSmsInputEsqueciSenha" name="smsCodigo[]" />
                            <input type="text" maxlength="1" class="jsCodigoSmsInputEsqueciSenha" name="smsCodigo[]" />
                            <input type="text" maxlength="1" class="jsCodigoSmsInputEsqueciSenha" name="smsCodigo[]" />
                            <input type="text" maxlength="1" class="jsCodigoSmsInputEsqueciSenha" name="smsCodigo[]" />
                            <input type="text" maxlength="1" class="jsCodigoSmsInputEsqueciSenha" name="smsCodigo[]" />
                        </div>
                        <div class="dg-wrapper-btns">
                            <button type="button" class="jsVoltarParaLoginSenha dg-header-minhaconta-modal-footer-voltar-style">Voltar para o login</button>
                            <button type="submit" class="dg-header-minhaconta-modal-footer-btn">Continuar</button>
                        </div>
                        <div style="text-align:center">
                            <button type="button" class="jsReenviarCodigo dg-header-minhaconta-modal-footer-reenviar">Reenviar código <span class="jsReenviarCodigoTimer"></span></button>
                        </div>
                    </div>
                </div>
                {elseif Data.tipo == "3"}
                <div class="dg-form-senha-suporte dg-header-minhaconta-modal-conteudo">
                    <p style="max-width:340px;text-align:center;margin: 0 auto;">
                        <span class="dg-icon dg-icon-televendas" style="display:block;font-size: 40px;color: #00D19D;"></span>
                        <span style="font-weight: 600;">Entre em contato com o nosso SAC para a validação de seu cadastro e atualização de suas informações:</span>
                        <br><br>
                        SAC: ${Data.NumeroSac} ou<br>
                        <a style="color:#333333" href="mailto:sac@drogarianovaesperanca.com.br">
                            <u>sac@drogarianovaesperanca.com.br</u>
                        </a><br><br>
                        Segunda a Sexta, das 8h às 18h<br>
                        Sábado das 8h às 12h
                    </p>
                    <button type="button" class="jsVoltarParaLoginSenha dg-header-minhaconta-modal-footer-voltar-style">Voltar para o login</button>
                </div>
                {/if}
            </script>
            <script id="templateEsqueciSenha2" type="text/x-jquery-tmpl">
                <div class="dg-titulo">
                    Criar nova senha
                    <p>Para continuar escolha</p>
                </div>
                <div class="dg-header-minhaconta-modal-conteudo">
                    <label>
                        <input type="radio" name="escolhaAlteracaoSenha" value="1" />
                        <div>
                            <p>
                                <b>Receber por e-mail</b>
                                <br>${Data.EMail}
                            </p>
                        </div>
                    </label>
                    <label>
                        <input type="radio" name="escolhaAlteracaoSenha" value="2" />
                        <div>
                            <p>
                                <b>Receber por código SMS</b>
                                <br>${Data.TelCel}
                            </p>
                        </div>
                    </label>
                    <label>
                        <input type="radio" name="escolhaAlteracaoSenha" value="3" />
                        <div>
                            <p>
                                <b>Entrar em contato com o suporte técnico.</b>
                            </p>
                        </div>
                    </label>
                    <div class="dg-header-minhaconta-modal-footer">
                        <button type="button" class="jsVoltaStep1Senha dg-header-minhaconta-modal-footer-voltar-style">Voltar</button>
                        <button type="submit" class="dg-header-minhaconta-modal-footer-btn dg-header-minhaconta-modal-footer-esqueci-btn">Continuar</button>
                    </div>
                </div>
            </script>
            <div class="templateLogadoLogadoCont"></div>
            <div class="dg-header-favoritos">
                <a href="@Html.Domain()/meus-favoritos/" aria-label="Meus favoritos" class="dg-tooltip-hover dg-add-loading">
                    <span class="dg-icon dg-icon-favorito"></span>
                    <span class="dg-tooltip">Meus favoritos</span>
                </a>
            </div>

            <a class="dg-header-m-abrirbusca" href="javascript:void(0)" aria-label="Abrir busca de Produtos">
                <span class="dg-icon dg-icon-search"></span>
            </a>


            <div class="dg-header-carrinho">
                <a href="@Html.Domain()/checkout/" class="titlecountcart" aria-label="Ir para o carrinho" dataformat="Ir para o carrinho ({0} itens)" title="Ir para o carrinho">
                    <span class="dg-icon dg-icon-cart"></span>
                    <div class="dg-header-carrinho-numero ContadorItensCart"></div>
                </a>
                <div class="dg-counter-carrinho">+ 1</div>

                <!-- Minicarrinho -->
                <div class="dg-minicarrinho">
                    <div class="dg-titulo">
                        Produtos incluídos <strong>no carrinho</strong>
                    </div>

                    <ul class="dg-minicarrinho-lista dg-minicarrinho-sidebar ReultCarrinhoItens">
                    </ul>

                    <div class="dg-minicarrinho-footer">
                        <div class="dg-minicarrinho-total ResultGetTotalizerCart">
                        </div>

                        <div class="dg-minicarrinho-finalizar">
                            <a href="@Html.Domain()/checkout/" class="dg-minicarrinho-btn">
                                Finalizar compra
                            </a>
                        </div>
                    </div>
                </div>

                <div class="dg-minicarrinho-overlay"></div>
                <!-- /Minicarrinho -->


            </div>
        </div>
    </div>
    <!-- /Itens principais do header -->
    <!-- Menu Principal -->
    <div class="container">
        <div class="dg-relative">
            <nav class="dg-header-menu">
                <ul role="menubar" aria-label="Menu de Produtos">
                    <li class="dg-header-menu-vertodas">
                        <a href="javascript:void(0)" role="menuitem" menuaba="Principal">
                            <span class="dg-icon-vertodas">
                                <span class="dg-icon-vertodas-1"></span>
                                <span class="dg-icon-vertodas-2"></span>
                                <span class="dg-icon-vertodas-3"></span>
                            </span>
                            Ver tudo
                        </a>
                    </li>

                    <li menulocal="Medicamentos">
                        <a href="@Html.Domain()/medicamentos/" role="menuitem" menuaba="Medicamentos">
                            <span class="dg-icon-img dg-icon-img-medicamentos" role="presentation">
                                <img src="@Html.Domain()/assets/img/header/icones/medicamentos.png" class="dg-icon-img-img" alt="Categoria: medicamentos" loading="lazy">
                                <img src="@Html.Domain()/assets/img/header/icones/medicamentos-hover.png" class="dg-icon-img-hover" alt="Categoria: medicamentos hover" loading="lazy">
                            </span>
                            Medicamentos
                        </a>
                    </li>

                    <li menulocal="Dermocosméticos">
                        <a href="@Html.Domain()/dermocosmeticos/" role="menuitem" menuaba="Dermocosméticos">
                            <span class="dg-icon-img dg-icon-img-dermocosmeticos" role="presentation">
                                <img src="@Html.Domain()/assets/img/header/icones/dermocosmeticos.png" class="dg-icon-img-img" alt="Categoria: dermocosmeticos" loading="lazy">
                                <img src="@Html.Domain()/assets/img/header/icones/dermocosmeticos-hover.png" class="dg-icon-img-hover" alt="Categoria: dermocosmeticos hover" loading="lazy">
                            </span>
                            Dermocosméticos
                        </a>
                    </li>

                    <li menulocal="Perfumaria">
                        <a href="@Html.Domain()/perfumaria/" role="menuitem" menuaba="Perfumaria">
                            <span class="dg-icon-img dg-icon-img-perfumaria" role="presentation">
                                <img src="@Html.Domain()/assets/img/header/icones/perfumaria.png" class="dg-icon-img-img" alt="Categoria: perfumaria" loading="lazy">
                                <img src="@Html.Domain()/assets/img/header/icones/perfumaria-hover.png" class="dg-icon-img-hover" alt="Categoria: perfumaria hover" loading="lazy">
                            </span>
                            Perfumaria
                        </a>
                    </li>

                    <li menulocal="Nutrição">
                        <a href="@Html.Domain()/nutricao/" role="menuitem" menuaba="Nutrição">
                            <span class="dg-icon-img dg-icon-img-nutricao" role="presentation">
                                <img src="@Html.Domain()/assets/img/header/icones/nutricao.png" class="dg-icon-img-img" alt="Categoria: nutricao" loading="lazy">
                                <img src="@Html.Domain()/assets/img/header/icones/nutricao-hover.png" class="dg-icon-img-hover" alt="Categoria: nutricao hover" loading="lazy">
                            </span>
                            Nutrição
                        </a>
                    </li>

            

                    <li menulocal="Genéricos">
                        <a href="@Html.Domain()/genericos/" role="menuitem" class="dg-add-loading">
                            <span class="dg-icon-img dg-icon-img-genericos" role="presentation">
                                <img src="@Html.Domain()/assets/img/header/icones/genericos.png" class="dg-icon-img-img" alt="Categoria: genericos" loading="lazy">
                                <img src="@Html.Domain()/assets/img/header/icones/genericos-hover.png" class="dg-icon-img-hover" alt="Categoria: genericos hover" loading="lazy">
                            </span>
                            Genéricos
                        </a>
                    </li>

                    <li class="dg-header-menu-promocoes" menulocal="Promoções">
                        <a href="@Html.Domain()/promocao/"  class="dg-add-loading">
                            <span class="dg-icon-img dg-icon-img-promocoes" role="presentation">
                                <img src="@Html.Domain()/assets/img/header/icones/promocoes.png" class="dg-icon-img-img" alt="Categoria: promocoes" loading="lazy">
                                <img src="@Html.Domain()/assets/img/header/icones/promocoes-hover.png" class="dg-icon-img-hover" alt="Categoria: promocoes hover" loading="lazy">
                            </span>
                            Promoções
                        </a>
                    </li>

                </ul>

            </nav>
        </div>
    </div>

    <!-- /Menu Principal -->
</header>

@if (OHeader.BannerMensagemTopo.IsAtivo)
{
    <div class="dg-header-fix dg-bannerMensagemTopo"></div>
} else {

    <div class="dg-header-fix"></div>
}

<!-- ####  Fim do header  ####-->
<!-- #### MENU ABERTO ####-->

<nav class="dg-menuA">
    <div class="container">

        <ul>
            <li class="dg-header-menu-login dg-desktop-hide">
                <div class="dg-header-copy">
                    <div class="dg-header-logo">
                        <a href="@Html.Domain()/" class="dg-add-loading">
                            <img src="@Html.Domain()/Themes/DefaultClean/Content/img/header/logo-white.svg" alt="Drogaria Nova Esperança - Logotipo" loading="lazy">
                        </a>
                    </div>
                    <div class="dg-header-carrinho">
                        <a href="@Html.Domain()/checkout/" class="titlecountcart" aria-label="Ir para o carrinho" dataformat="Ir para o carrinho ({0} itens)" title="Ir para o carrinho">
                            <span class="dg-icon dg-icon-cart"></span>
                            <div class="dg-header-carrinho-numero ContadorItensCart"></div>
                        </a>
                        <div class="dg-counter-carrinho">+ 1</div>
                    </div>
                    <a href="javascript:void(0)" aria-label="Fechar Menu Principal" class="dg-menuA-fechar" title="Fechar Menu"></a>
                </div>
                <div class="templateLogadoLogadoCont"></div>
            </li>
            <li class="dg-mobile-hide">
                <div class="dg-titulo">
                    Categorias
                </div>
            </li>



            @foreach (var categoria in OHeader.MenuCategorias)
            {
                <li>
                    <a href="@Html.Domain()/@categoria.URLCategoria/" menuaba="@Html.Raw(categoria.Categoria)">
                        @* <span class="dg-icon dg-icon-@categoria.URL"></span> *@
                        <span class="dg-icon-img dg-icon-img-@categoria.URL" role="presentation">
                            <img src="@Html.Domain()/assets/img/lazy.png" class="dg-icon-img-img" data-src-menu-icon="@categoria.URL" alt="Categoria: @categoria.URL" loading="lazy">
                            <img src="@Html.Domain()/assets/img/lazy.png" class="dg-icon-img-hover" data-src-menu-icon="@categoria.URL-hover" alt="Categoria: @categoria.URL hover" loading="lazy">
                        </span>
                        @Html.Raw(categoria.Categoria)
                       
                    </a>

                    <!-- submenu -->

                    @{
                        var classeExpandido = "";
                        if (categoria.ID_Categoria == 1) {
                            classeExpandido = "dg-categoria-grande dg-categoria-grande--1";
                        }

                        if (categoria.ID_Categoria == 2) {
                            classeExpandido = "dg-categoria-grande dg-categoria-grande--2";
                        }

                        if (categoria.ID_Categoria == 12) {
                            classeExpandido = "dg-categoria-grande dg-categoria-grande--3";
                        }
                    }

                    <div class="dg-menuA-submenu @classeExpandido">
                    @* <div class="dg-menuA-submenu"> *@
                        @* <div class="dg-titulo" style="font-weight:bold">
                            <a href="@Html.Domain()/@categoria.URLCategoria/">
                                <div class="dg-tooltip-hover">
                                    <div class="dg-tooltip dg-mobile-hide">Categoria: @Html.Raw(categoria.Categoria)</div>
                                    <img src="@Html.Domain()/assets/img/lazy.png" class="dg-icon-img-hover" data-src-menu-icon="@categoria.URL-hover" alt="Categoria: @categoria.URL hover" loading="lazy">
                                </div>
                                @Html.Raw(categoria.Categoria)
                            </a>
                        </div> *@

                        <div class="dg-menuA-submenu-destaques-box">

                            <ul class="dg-menuA-submenu-itens">

                                @if (categoria.DestaquesN1.Count() > 0)
                                {
                                    foreach (var destaque in categoria.DestaquesN1)
                                    {
                                        <li>
                                            <a href="@Html.Domain()/@categoria.URLCategoria/@destaque.LinkSubCategoria/">
                                                @destaque.SubCategoria
                                            </a>
                                        </li>
                                    }
                                }

                                @if (categoria.Itens.Count() > 0)
                                {


                                    @foreach (var subCategoria in categoria.Itens)
                                    {
                                        <li>
                                            <a href="@Html.Domain()/@subCategoria.URLSubCategoria/">@subCategoria.SubCategoria</a>
                                        </li>
                                    }
                                    @* <li class="dg-menuA-submenu-item-ultimo"><a href="@Html.Domain()/@categoria.URLCategoria/">Ver Todas</a></li> *@
                                }
                            </ul>

                            @Html.Raw(categoria.ProdutoDestaque)

                            @* <div class="dg-boxproduto jsBoxproduto" rel="https://dev01.farmaciamix.com.br/fortice-com-30-comprimidos-40742/?utm_source=Carrossel+Home&amp;utm_medium=Farmacia+Online&amp;utm_campaign=Farmacia+Online&amp;utm_term=FORTICE+COM+30+COMPRIMIDOS" data-fav="" data-saidaboxproduto="" nome="FORTICE COM 30 COMPRIMIDOS " categoria="Nutrição" marca="EUROFARMA" preco="155,88" id_subproduto="40742">
                                <!-- img -->
                                <a class="dg-boxproduto-img" href="https://dev01.farmaciamix.com.br/fortice-com-30-comprimidos-40742/?utm_source=Carrossel+Home&amp;utm_medium=Farmacia+Online&amp;utm_campaign=Farmacia+Online&amp;utm_term=FORTICE+COM+30+COMPRIMIDOS" title="FORTICE COM 30 COMPRIMIDOS " idimpression="40742" lista="lista CadaUmPor Busca" nome="FORTICE COM 30 COMPRIMIDOS " link="https://dev01.farmaciamix.com.br/fortice-com-30-comprimidos-40742/?utm_source=Carrossel+Home&amp;utm_medium=Farmacia+Online&amp;utm_campaign=Farmacia+Online&amp;utm_term=FORTICE+COM+30+COMPRIMIDOS" alt="FORTICE COM 30 COMPRIMIDOS ">
                                    <img src="/imagens/215x215/fortice-30-comprimidos-a-definir-00dd9139e6.jpg" data-src-lazy="/imagens/215x215/fortice-30-comprimidos-a-definir-00dd9139e6.jpg" id="ImagemProd_40742" alt="FORTICE COM 30 COMPRIMIDOS " title="FORTICE COM 30 COMPRIMIDOS " loading="lazy">
                                </a>

                                <!-- Dados -->
                                <div class="dg-boxproduto-main">

                                        <h3 class="dg-boxproduto-titulo jsTituloHover">
                                            <a href="https://dev01.farmaciamix.com.br/fortice-com-30-comprimidos-40742/?utm_source=Carrossel+Home&amp;utm_medium=Farmacia+Online&amp;utm_campaign=Farmacia+Online&amp;utm_term=FORTICE+COM+30+COMPRIMIDOS" title="FORTICE COM 30 COMPRIMIDOS " alt="FORTICE COM 30 COMPRIMIDOS " idimpression="40742" lista="lista Busca" nome="FORTICE COM 30 COMPRIMIDOS " link="https://dev01.farmaciamix.com.br/fortice-com-30-comprimidos-40742/?utm_source=Carrossel+Home&amp;utm_medium=Farmacia+Online&amp;utm_campaign=Farmacia+Online&amp;utm_term=FORTICE+COM+30+COMPRIMIDOS">FORTICE COM 30 COMPRIMIDOS    
                                    </a>
                                        </h3>
                                    <div class="dg-boxproduto-tooltip" style="display: none;">FORTICE COM 30 COMPRIMIDOS  </div>

                                    <div class="dg-boxproduto-categoria">
                                        EUROFARMA
                                    </div>

                                </div>

                                <!-- Preço -->
                                <div class="dg-boxproduto-preco" boxprodutovalor="204,52">

                                        <span class="dg-boxproduto-preco-de"><span>De: </span>R$204,52</span>
                                        <span class="dg-boxproduto-preco-por">
                                            <span>Por: </span>R$155,88
                                        </span>

                                </div>

                                    <form class="dg-boxproduto-compra">
                                        <div class="dg-relative">
                                            <div class="dg-boxproduto-compra-bg">
                                                <div class="dg-boxproduto-qtd">
                                                    <input type="number" class="dg-boxproduto-qtd-input dg-ativado" name="" id="QTD_40742" value="1" multiplo="1" maxlength="2" onkeypress="if(this.value.length==4) return false;">
                                                    <a href="javascript:void(0)" class="dg-boxproduto-qtd-menos dg-ativado" rel="40742">-</a>
                                                    <a href="javascript:void(0)" class="dg-boxproduto-qtd-mais dg-ativado" rel="40742">+</a>
                                                </div>

                                                <a href="javascript:void(0)" class="dg-boxproduto-compra-btn BtComprarProduto" role="link" aria-label="Comprar FORTICE COM 30 COMPRIMIDOS  " id_subproduto="40742">
                                                    <span class="dg-icon dg-icon-cart"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </form>

                                <!-- Informações flutuantes -->
                                <div class="dg-boxproduto-info">


                                        <div class="dg-boxproduto-tags">

                                                    <!-- Desconto -->
                                                    <div class="dg-boxproduto-desconto dg-boxproduto-desconto--porcentagem dg-laranja dg-tooltip-hover" role="generic" aria-label="desconto de">
                                                        <span class="dg-icon dg-icon-arrow01-down"></span> 23%
                                                        <div class="dg-tooltip-left">
                                                            Desconto
                                                        </div>
                                                    </div>


                                            <!-- Tags -->



                                        </div>
                                    <!-- Sub-ações -->
                                    <div class="dg-boxproduto-subacoes">
                                        <a href="javascript:void(0)" class="dg-boxproduto-favoritar dg-tooltip-hover" role="link" aria-label="Adicionar aos favoritos" data-id_subproduto="40742">
                                            <span class="dg-icon dg-icon-favorito"></span>
                                            <div class="dg-tooltip-bottom">
                                                Favorito
                                            </div>
                                        </a>


                                    </div>
                                </div>
                            </div> *@


                        </div>

                        @* @if (categoria.ID_Categoria != 1 && categoria.ID_Categoria != 2 && categoria.ID_Categoria != 12) {
                            <a href="@categoria.BannerMenu.URLBanner" class="dg-menuA-submenu-banner dg-tooltip-hover">
                                <img src="@Html.Domain()/assets/img/lazy.png" data-src-menu="https://static.drogarianovaesperanca.com.br/banners/dne/@categoria.BannerMenu.Imagem" alt="@categoria.BannerMenu.Alt" loading="lazy">
                                <div class="dg-tooltip">@categoria.BannerMenu.Alt</div>
                            </a>
                        } *@
                        
                        <!--Mascote-->
                        @* <div class="dg-menuA-submenu-mascote dg-tooltip-hover">
                            <img src="@Html.Domain()/assets/img/lazy.png" data-src-menu="https://static.drogarianovaesperanca.com.br/marcas/@categoria.IconeMascote" alt="@categoria.IconeMascote_Alt" loading="lazy">
                            <div class="dg-tooltip">@categoria.IconeMascote_Alt</div>
                        </div> *@
                        <!--Mascote-->

                        
                    </div>

                    <!-- submenu -->

            </li>
            }

            
            <li>
                <a href="@Html.Domain()/promocao/" menuaba="Promoções" class="jsIgnoreJs dg-add-loading">
                    <span class="dg-icon-img dg-icon-img-promocoes" role="presentation">
                        <img src="@Html.Domain()/assets/img/lazy.png" class="dg-icon-img-img" data-src-menu-icon="promocoes" alt="icone promocoes" loading="lazy">
                        <img src="@Html.Domain()/assets/img/lazy.png" class="dg-icon-img-hover" data-src-menu-icon="promocoes-hover" alt="icone promocoes hover" loading="lazy">
                    </span>
                    Promoções
                </a>
            </li>

            <li class="dg-desktop-hide">
                <a href="@Html.Domain()/genericos/" class="jsIgnoreJs dg-add-loading">
                    <span class="dg-icon-img dg-icon-promocoes"  role="presentation">
                        <img src="@Html.Domain()/assets/img/lazy.png" class="dg-icon-img-img" data-src-menu-icon="genericos" alt="icone genericos" loading="lazy">
                        <img src="@Html.Domain()/assets/img/lazy.png" class="dg-icon-img-hover" data-src-menu-icon="genericos-hover" alt="icone genericos hover" loading="lazy">
                    </span>
                    Genéricos
                </a>
            </li>
            <li class="dg-desktop-hide dg-header-favoritos-link">
                <a href="@Html.Domain()/meus-favoritos/" class="jsIgnoreJs dg-add-loading">
                <span class="dg-icon dg-icon-favorito dg-icon-img"></span>Favoritos</a>
            </li>
        </ul>
    </div>

    <div class="dg-menuA-overlay"></div>
</nav>



<!-- #### /MENU ABERTO ####-->


<input type="hidden" id="ID_SubProduto-Aviso" value="" />


<script id="templateCarrinhoItens" type="text/x-jquery-tmpl">

    {for RowCartItem in Carrinho.ItensCart}
    <li class="dg-minicarrinho-item">
        <span class="dg-minicarrinho-item-img"><img src="@Html.Domain()/imagens/57x57/${RowCartItem.Foto}" alt="${RowCartItem.NomeProduto}"></span>

        <div class="dg-minicarrinho-item-produto-wrapper">
            <div class="dg-minicarrinho-item-produto">
                ${RowCartItem.NomeProduto} ${RowCartItem.ComplementoBrindes}
            </div>
            <div class="dg-minicarrinho-item-marca">
                Fabricado por: <b>${RowCartItem.Marca}</b>
            </div>
        </div>
        <span class="dg-minicarrinho-item-qtd">
            {var ValorView = RowCartItem.ValorUnitario}
            {if RowCartItem.ValorComDescontoUnitario > 0 && RowCartItem.ValorUnitario > RowCartItem.ValorComDescontoUnitario}
                {var ValorView = RowCartItem.ValorComDescontoUnitario}
            {/if}
            <span class="dg-minicarrinho-item-total">R$${ValorView.FormatCurrency()}</span>
            <div class="dg-minicarrinho-item-qtd">
                <input type="number" value="${RowCartItem.Qtd}" class="dg-minicarrinho-item-qtd-input" id="Qtd_${RowCartItem.ID_SubProduto}" name="Qtd_${RowCartItem.ID_SubProduto}" ID_SubProduto="${RowCartItem.ID_SubProduto}" onKeyPress="if(this.value.length==4) return false;" onkeydown="InputItemCart(this, event);">
                <a href="javascript:void(0)" onclick="SetCarrinhoDelay(this, 'Menos')" class="dg-minicarrinho-item-qtd-menos" ID_SubProduto="${RowCartItem.ID_SubProduto}">-</a>
                <a href="javascript:void(0)" onclick="SetCarrinhoDelay(this, 'Mais')" class="dg-minicarrinho-item-qtd-mais" ID_SubProduto="${RowCartItem.ID_SubProduto}">+</a>
            </div>
        </span>
        <a href="javascript:void(0)" 
         nome="${RowCartItem.NomeProduto}" 
        preco="${RowCartItem.ValorUnitario}" 
        categoria="${RowCartItem.Categoria}"
        marca="${RowCartItem.Marca}"
        onclick="SetCarrinho(this, 'Remove')" class="dg-minicarrinho-item-apagar dg-tooltip-hover" aria-label="apagar produto" ID_SubProduto="${RowCartItem.ID_SubProduto}"><span class="dg-icon dg-icon-lixo"></span> <span class="dg-tooltip">Apagar produto</span></a>
    </li>
    {forelse}
    <li class="dg-checkout-main-carrinho-item">
        <p class="dg-minicarrinho-vazio">Você ainda não adicionou nenhum produto.</p>
    </li>
    {/for}

</script>

<script id="templateGetTotalizerCart" type="text/x-jquery-tmpl">
    Total da compra
    <strong>
        R$${ValorTotalCarrinho.FormatCurrency()}
    </strong>

</script>



<script id="template-AutoCompleteBuscaProdutoDestaque" type="text/x-jquery-tmpl">

    <div class="dg-boxbuscaproduto jsBoxproduto {if Produto.Estoque < 1 && Produto.Controlado == false}dg-isIndisponivel{/if}" rel="${Produto.URLProduto}" data-slick-index="1" aria-hidden="false" tabindex="0" id_subproduto="${Produto.ID_SubProduto}" nome="${Produto.Produto}" marca="${Produto.Marca}" categoria="${Produto.Categoria}" preco="${Produto.Valor}">
        <a class="dg-boxbuscaproduto-img" href="${Produto.URLProduto}" alt="${Produto.Produto}" tabindex="0">
            <img src="@Html.Domain()/imagens/76x76/${Produto.Foto}" id="ImagemProd_${Produto.ID_SubProduto}" alt="${Produto.Produto}" title="${Produto.Produto}" loading="lazy" style="opacity: 1;">
            {if Produto.Estoque < 1 && Produto.Controlado == false}
                <div class="dg-boxproduto-desconto dg-boxproduto-desconto--indisponivel">Esgotado</div>
            {/if}
        </a>


        <div class="dg-boxbuscaproduto-main">
            <div class="dg-boxbuscaproduto-titulo">
                <a href="${Produto.URLProduto}" title="${Produto.Produto}" alt="${Produto.Produto}" idimpression="${Produto.ID_SubProduto}" lista="lista Busca" nome="${Produto.Produto}" link="@Html.Domain()/${Produto.URLProduto}" tabindex="0">${Produto.Produto}  ${Produto.CplTraduzido} ${Produto.ComplementoBrindes}</a>
            </div>
        </div>

        <div class="dg-boxbuscaproduto-preco" boxprodutovalor="${Produto.URLProduto}">
            <span class="dg-boxbuscaproduto-preco-por">R$ ${String(Produto.Valor.toFixed(2)).replace(".", ",")}</span>
            <div class="dg-boxbuscaproduto-parcelas">
                ${Produto.QTDParcelas}x <span class="dg-small">de</span> R$ ${String(Produto.TotalParcela.toFixed(2)).replace(".", ",")}
                @* <a href="javascript:void(0)" class="dg-broxproduto-parcelas-icone dg-tooltip-hover" aria-label="Valor em ${Produto.QTDParcelas}x sem juros para compras com parcela mínima de R$50,00. Consulte os juros aplicados em sua compra na escolha da forma de pagamento.">
                    <span class="dg-icon" role="presentation">i</span>
                    <span class="dg-tooltip">
                        Valor em 3x sem juros para compras com <b>parcela mínima de R$ 50,00</b>. <span>
                            *Consulte os juros
                            aplicados em sua compra na escolha da forma de pagamento.
                        </span>
                    </span>
                </a> *@
            </div>
        </div>


        {if Produto.Controlado == true || Produto.VendaRestrita == true }
        <a  href="${Produto.URLProduto}" class="dg-boxbuscaproduto-btn-controlado" rel="${Produto.ID_SubProduto}.ToString()">Saiba Mais</a>
        {elseif Produto.Estoque < 1}
         <div class="dg-boxproduto-compra">
            <a href="javascript:void(0)" class="dg-boxproduto-compra-btn jsModalAviseMe" aria-label="Avisar chegada de ${Produto.Produto}" rel="${Produto.ID_SubProduto}" tabindex="0">
                <span class="dg-icon dg-icon-avise-me"></span>
                Avise-me
            </a>
        </div>
        {else}
        <div class="dg-boxbuscaproduto-compra">
            <div class="dg-boxbuscaproduto-qtd">
                <input type="number" class="dg-boxbuscaproduto-qtd-input" name="" id="QTD_${Produto.ID_SubProduto}"
                    value="1" multiplo="1" maxlength="2" tabindex="0" onKeyPress="if(this.value.length==4) return false;">
                <a href="javascript:void(0)" class="dg-boxbuscaproduto-qtd-menos" rel="${Produto.ID_SubProduto}" tabindex="0">-</a>
                <a href="javascript:void(0)" class="dg-boxbuscaproduto-qtd-mais" rel="${Produto.Estoque}" tabindex="0">+</a>
            </div>
            <a href="javascript:void(0)" class="dg-boxbuscaproduto-compra-btn BtComprarProduto" aria-label="Comprar ${Produto.Produto}" id_subproduto="${Produto.ID_SubProduto}" tabindex="0">
                Comprar <span class="dg-icon dg-icon-cart"></span>
            </a>
        </div>

        {/if}
    </div>



</script>

<script id="template-AutoCompleteBuscaProdutos" type="text/x-jquery-tmpl">
    <div>
        <div class="dg-header-busca-sugestao-pesquisa">
            <div class="dg-header-busca-sugestao-pesquisa__titulo">Sugestões de pesquisa</div>
            <ol class="dg-header-busca-sugestao-pesquisa__lista">
                <li><b>${buscaInfo.Termo}</b> Lorem</li>
                <li><b>${buscaInfo.Termo}</b> ipsum</li>
                <li><b>${buscaInfo.Termo}</b> dolor</li>
                <li><b>${buscaInfo.Termo}</b> sit</li>
                <li><b>${buscaInfo.Termo}</b> amet</li>
                <li><b>${buscaInfo.Termo}</b> Lorem</li>
            </ol>
        </div>
        <div class="dg-header-busca-termo">Resultados para "${buscaInfo.Termo}”</div>
        {if buscaInfo.Produtos.length > 0}
            <ul class="dg-header-busca-produtos-lista">
                {for produto in buscaInfo.Produtos}
                    <li>
                        <a href="${produto.URLProduto}" class="dg-header-busca-auto-lista-item">
                            <figure class="dg-img">
                                <img src="@Html.Domain()/imagens/76x76/${produto.Foto}" alt="${produto.Produto}">
                            </figure>
                            <div class="dg-conteudo">
                                @* <div class="dg-subtitulo">
                                    ${produto.Marca}
                                </div> *@

                                <div class="dg-titulo">
                                ${produto.Produto} ${produto.CplTraduzido} ${produto.ComplementoBrindes}
                                </div>
                                <p class="dg-preco">
                                    <span>POR:</span>
                                    R$ ${String(produto.ValorComDesconto.toFixed(2)).replace(".", ",")}
                                </p>
                            </div>
                        </a>
                        {if produto.Controlado == true || produto.VendaRestrita == true }
                        <a  href="${produto.URLProduto}" class="dg-boxbuscaproduto-btn-controlado" rel="${produto.ID_SubProduto}.ToString()">Saiba Mais</a>
                        {elseif produto.Estoque < 1}
                        <div class="dg-boxproduto-compra">
                            <a href="javascript:void(0)" class="dg-boxproduto-compra-btn jsModalAviseMe" aria-label="Avisar chegada de ${produto.Produto}" rel="${produto.ID_SubProduto}" tabindex="0">
                                <span class="dg-icon dg-icon-avise-me"></span>
                                Avise-me
                            </a>
                        </div>
                        {else}
                        <div class="dg-boxbuscaproduto-compra">
                            <div class="dg-boxbuscaproduto-qtd dg-hide">
                                <input type="number" class="dg-boxbuscaproduto-qtd-input" name="" id="QTD_${produto.ID_SubProduto}"
                                    value="1" multiplo="1" maxlength="2" tabindex="0" onKeyPress="if(this.value.length==4) return false;">
                                <a href="javascript:void(0)" class="dg-boxbuscaproduto-qtd-menos" rel="${produto.ID_SubProduto}" tabindex="0">-</a>
                                <a href="javascript:void(0)" class="dg-boxbuscaproduto-qtd-mais" rel="${produto.Estoque}" tabindex="0">+</a>
                            </div>
                            <a href="javascript:void(0)" class="dg-boxbuscaproduto-compra-btn BtComprarProduto" aria-label="Comprar ${produto.Produto}" id_subproduto="${produto.ID_SubProduto}" tabindex="0">
                                Comprar <span class="dg-icon dg-icon-cart"></span>
                            </a>
                        </div>

                        {/if}
                    </li>
                {/for}
            </ul>
            <div>
                <a href="javascript:void(0)" class="dg-header-busca-auto-lista-vertodos" id="verTodos">
                    Ver todos os produtos
                </a>
            </div>
        {else}
            <div>Nenhum resultado encontrado.</div>
        {/if}
    </div>
</script>