<web-antiforgery-token />

<!--Header-->
<header class="dg-checkout-header">

    <input type="hidden" name="FBAPP_ID" id="FBAPP_ID" value="636648873464236" />
    <input type="hidden" name="FBAPP_ID" id="G_client_id" value="1028179406320-c2tcqbvotsek6o48gnq8h44kuvc2ui6h.apps.googleusercontent.com" />

    <div class="container">
        <div class="dg-checkout-header-topo">
            <div class="dg-checkout-header-logo">
                <a href="@Html.Domain()/" class="dg-tooltip-hover">
                    <img src="@Html.Domain()/Themes/DefaultClean/Content/img/checkout/logo.svg" alt="Farmácia Mix - Logotipo">
                    <span class="dg-tooltip">Voltar para página inicial</span>
                </a>
            </div>

            <a href="javascript:void(0)" class="dg-checkout-header-info dg-checkout-header-info-chat jsAbrirChat">
                <img src="@Html.Domain()/Themes/DefaultClean/Content/img/checkout/logo-chat.svg" alt="Chat - ícone" role="presentation">
                <span>
                    <strong>Chatbox</strong>
                </span>
            </a>

            <div class="dg-checkout-header-info">
                @* <div class="dg-icon dg-icon-televendas-1" role="presentation"></div> *@
                <img src="@Html.Domain()/Themes/DefaultClean/Content/img/checkout/messages.svg" alt="Telefone - ícone" role="presentation">
                <span>
                    <strong class="dg-checkout-header-tel-1">SAC</strong>
                    (11) 3990 7450
                </span>
            </div>

            <div class="dg-checkout-header-info">
                @* <div class="dg-icon dg-icon-cadeado" role="presentation"></div> *@
                <img src="@Html.Domain()/Themes/DefaultClean/Content/img/checkout/shield.svg" alt="Escudo - ícone" role="presentation">
                <span>
                    <strong>Site protegido</strong>
                    Suas compras seguras
                </span>
            </div>

        </div>

    </div>




</header>
<!--Header-->