@model DNE.Models.Generic.CentralAtendimentoEmails

@{
    ViewData["BodyID"] = "institucional-central-de-atendimento-pg";
    var emails = Model;

    
}

<!--Conteudo-->
<div class="container">
    @* BreadCrumb *@
    <ul class="dg-institucional-breadcrumb" vocab="https://schema.org/" typeof="BreadcrumbList">

        <li property="itemListElement" typeof="ListItem" itemscope itemtype="https://schema.org/ListItem">
            <a href="@Html.Domain()/" property="item" typeof="WebPage">
                <span property="name">Home</span>
            </a>
            <meta property="position" content="1">
            <meta property="name" content="Home">
        </li>


        <li property="itemListElement" typeof="ListItem" itemscope itemtype="https://schema.org/ListItem">
            <a href="@ViewBag.UrlBreadcrumb" property="item" typeof="WebPage">
                <span property="name">Central de Atendimento</span>
            </a>
            <meta property="position" content="2">
            <meta property="name" content="Central de Atendimento">
        </li>


        
    </ul>
    @* /BreadCrumb *@


    <h1 class="dg-institucional-titulo">Central de <strong>Atendimento</strong></h1>
    <main id="main" class="dg-institucional">
        <p>Sempre que tiver qualquer dúvida, sugestão ou reclamação, entre em contato conosco através do nosso televendas, SAC ou por e-mail.</p>
        <div class="dg-institucional-atendimento-row">
            <div>
                <h2>Contatos</h2>

                <h3>Televendas</h3>
                <p>(11) 3990-7720</p>

                <h3>Sac</h3>
                <p>(11) 3990-5089</p>
                <p>@emails.SAC</p>
                <p>
                    Segunda a Sexta das 8h às 18h.<br>Sábado das 8h às 12h.
                </p>

                <h3>Ouvidoria</h3>
                <p>@emails.Ouvidoria</p>

                <h3>Farmacêutico</h3>
                <p>@emails.Farmaceutico</p>

                @* <h2><a href="@Html.Domain()/nossas-lojas/" style="color:#094684;text-decoration:none">Lojas Físicas</a></h2>
                <h3>Horário de Atendimento Lojas Físicas</h3>
                <p style="margin-bottom: 10px;margin-top: 0;">
                    <b style="color: #6c8c9a;font-weight:600">Loja - Pirituba</b>
                    <br>
                    Segunda a Sábado das 8h às 20h.
                    <br>(11) 3990-7722
                </p>
                <p style="margin-bottom: 10px;">
                    <b style="color: #6c8c9a;font-weight:600">Loja - Pacaembu</b>
                    <br>
                    Segunda a Sábado das 8h às 21h45.
                    <br>(11) 3990-7730
                </p>
                <p style="margin-bottom: 20px;">
                    <b style="color: #6c8c9a;font-weight:600">Loja - Planalto Paulista</b>
                    <br>
                    Segunda a Sábado das 8h às 21h45.
                    <br>(11) 3990-7731
                </p>
                <p>
                    Domingos e feriados estamos fechados.
                </p>
                <h3>Nossos Endereços</h3>
                <p>
                    Av. Cb. Adão Pereira, 82/88 - Pirituba<br>
                    São Paulo/SP - CEP: 02936-010
                </p>
                <p>
                    Av. Pacaembu, 1202 - Pacaembu<br>
                    São Paulo/SP - CEP: 01234-000
                </p>
                <p>
                    Av. José Maria Whitaker, 1366 - Planalto Paulista<br>
                    São Paulo/SP - CEP: 04057-000
                </p> *@
            </div>
            <form id="FormAtendimento" class="dg-form-wrapper jsMoveLabelInput">
                <h2>Através do formulário abaixo</h2>
                <div class="dg-relative dg-form-control">
                    <input id="Nome" type="text" name="Nome" class="dg-input" required validar>
                    <label for="Nome" class="dg-label">Nome</label>
                </div>
                <div class="dg-relative dg-form-control">
                    <input id="Email" type="email" mascara="lowercase" name="Email" class="dg-input" required validar>
                    <label for="Email" class="dg-label">E-mail</label>
                </div>
                <div class="dg-relative dg-form-control">
                    <input id="Telefone" type="tel" name="Telefone" class="dg-input" maxlength="15" mascara="telefone" required validar>
                    <label for="Telefone" class="dg-label">Telefone</label>
                </div>
                <div class="dg-relative dg-form-control">
                    <select id="ComquemFalar" name="ComquemFalar" class="dg-select" required validar>
                        <option selected disabled>Selecione</option>
                        <option value="@emails.SAC">Sac</option>
                        <option value="@emails.Farmaceutico">Farmacêutico</option>
                        <option value="@emails.SAC">Financeiro</option>
                        <option value="@emails.Marketing">Marketing</option>
                    </select>
                    <label>Destinatário</label>
                </div>
                <div class="dg-relative dg-form-control">
                    <select id="Assunto" name="Assunto" class="dg-select" required validar>
                        <option selected disabled>Selecione</option>
                        <option value="Informações de Pedidos">Informações de Pedidos</option>
                        <option value="Reclamação">Reclamação</option>
                        <option value="Elogio">Elogio</option>
                        <option value="Dúvidas Gerais">Dúvidas Gerais</option>
                    </select>
                    <label>Assunto</label>
                </div>
                
                <div class="dg-form-control">

                    <label class="dg-common-label">Anexo:</label>


                    <input type="file" name="Anexo" id="Anexo">
                    <input type="hidden" id="ArquivoAnexo" name="ArquivoAnexo">
                    <div class="mensagem-anexo"></div>

                </div>
                <div class="dg-relative dg-form-control">
                    <label class="dg-common-label">Mensagem</label>
                    <textarea class="dg-textarea" id="Mensagem" name="Mensagem" rows="3" validar required></textarea>
                </div>


                <div class="dg-relative dg-form-control--footer dg-form-control--footer-captcha">
                    <div id="central-vcg" class="dg-central-recaptcha"></div>
                    
                    <button type="submit" name="EnviarContato" id="EnviarContato" class="dg-btn">Enviar Mensagem</button>
                </div>
            </form>
        </div>
    </main>
</div>

@{
    Html.AddCssFileParts(ResourceLocation.Head, "~/assets/css/Institucional.css", false);
}

@{
    Html.AddScriptParts(ResourceLocation.Footer, "~/assets/js/CentralAtendimento.js", false);
}