@{
    ViewData["BodyID"] = "institucional-nossa-historia-pg";
}

<!--Conteudo-->
<div class="container"> 
    @* BreadCrumb *@
    <ul class="dg-institucional-breadcrumb" vocab="https://schema.org/" typeof="BreadcrumbList">

        <li property="itemListElement" typeof="ListItem" itemscope itemtype="https://schema.org/ListItem">
            <a href="@Html.Domain()/" property="item" typeof="WebPage">
                <span property="name">Home</span>
            </a>
            <meta property="position" content="1">
            <meta property="name" content="Home">
        </li>



        <li property="itemListElement" typeof="ListItem" itemscope itemtype="https://schema.org/ListItem">
            <a href="@ViewBag.UrlBreadcrumb" property="item" typeof="WebPage">
                <span property="name">Nossa História</span>
            </a>
            <meta property="position" content="2">
            <meta property="name" content="Nossa História">
        </li>


    </ul>
    @* /BreadCrumb *@


    <h1 class="dg-institucional-titulo-nossahistoria">
        <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M17.5307 19.9975C16.3872 19.9975 15.2413 19.541 14.3712 18.6254L9.3099 13.314C8.46595 12.4284 8 11.2508 8 9.99844C8 8.74606 8.46357 7.56853 9.3099 6.68288L14.3712 1.3715C16.1138 -0.457168 18.9475 -0.457168 20.6901 1.3715C22.4327 3.20017 22.4327 6.17395 20.6901 8.00262L18.7883 9.99844L20.6901 11.9968C21.5341 12.8824 22 14.0599 22 15.3123C22 16.5647 21.5364 17.7422 20.6901 18.6279C19.82 19.541 18.6741 20 17.5307 20V19.9975ZM17.5307 2.20725C16.9268 2.20725 16.3206 2.44925 15.8594 2.93323L10.7981 8.24461C10.3512 8.71363 10.1063 9.33483 10.1063 9.99844C10.1063 10.6621 10.3512 11.2832 10.7981 11.7523L15.8594 17.0636C16.7818 18.0291 18.2795 18.0291 19.2019 17.0636C19.6488 16.5946 19.8937 15.9734 19.8937 15.3098C19.8937 14.6462 19.6488 14.025 19.2019 13.556L15.8095 9.99595L19.2019 6.4359C20.1243 5.46793 20.1243 3.89622 19.2019 2.92824C18.7407 2.44426 18.1369 2.20226 17.5307 2.20226V2.20725Z" fill="#002399"/>
        <path d="M4.46935 20C3.27594 20 2.15385 19.5111 1.3099 18.6256C0.465956 17.7401 0 16.5627 0 15.3106C0 14.0584 0.463578 12.881 1.3099 11.9955L3.21413 10L1.3099 8.00449C-0.432669 6.1761 -0.432669 3.20279 1.3099 1.37441C2.15385 0.4889 3.27594 0 4.46935 0C5.66276 0 6.78485 0.486406 7.6288 1.37441L12.6901 6.68496C13.534 7.57047 14 8.74782 14 10C14 11.2522 13.5364 12.4295 12.6901 13.315L7.6288 18.6256C6.78485 19.5111 5.66276 20 4.46935 20ZM4.46935 2.20753C3.83937 2.20753 3.24504 2.46446 2.7981 2.9334C1.8757 3.89873 1.8757 5.47269 2.7981 6.44051L6.19053 10L2.7981 13.5595C2.35117 14.0284 2.1063 14.6495 2.1063 15.313C2.1063 15.9766 2.35117 16.5977 2.7981 17.0666C3.24504 17.5355 3.83699 17.7925 4.46935 17.7925C5.10172 17.7925 5.69367 17.5355 6.1406 17.0666L11.2019 11.756C11.6488 11.2871 11.8937 10.666 11.8937 10.0025C11.8937 9.33899 11.6488 8.71789 11.2019 8.24894L6.1406 2.93839C5.69367 2.46944 5.10172 2.21252 4.46935 2.21252V2.20753Z" fill="#00D19D"/>
        </svg>
        Nossa <b>história</b>
    </h1>
    <main id="main" class="dg-institucional dg-institucional-nossahistoria-wrapper">
        
        <div class="dg-institucional-nossahistoria">
            <div class="dg-txt">
                <h2>Desde 1974 a Farmácia Mix visa <br>a satisfação e comodidade de seus clientes.</h2>
                <p>Para isso, trabalhamos em parceria com os mais conceituados laboratórios e fabricantes, onde conseguimos descontos em medicamentos e produtos de qualidade. Descontos estes fundamentais para quem não pode abrir mão da saúde e nem sequer oscilar entre medicamentos que não são de confiança.</p>
                <p>Através de nossos programas de fidelização, foi possível criar uma ligação entre nossos clientes assíduos e suas necessidades, e assim aperfeiçoar nosso estoque, bem como nosso trabalho. É por isso que a Farmácia Mix cresce e se especializa a cada ano e hoje nossos clientes contam com uma operação logística rápida e eficiente.</p>
                <p>E foi focando sempre em saúde, bem-estar, e claro, na comodidade de nossos clientes que desenvolvemos nossa loja virtual, para que recebam nossos medicamentos sem saírem de casa, através da internet, com absoluta segurança e rapidez.</p>
                <p>Essa loja virtual foi feita pensando em você, portanto fique à vontade para dar sua opinião, sugestão ou crítica.</p>
            </div>
            <div class="dg-img">
                <img src="@Html.Domain()/Themes/DefaultClean/Content/img/nossa-historia.png" alt="Farmacêutico" />
            </div>
        </div>
    </main>
</div>
@Html.Raw(@ViewBag.SEOOrganization)
<!--Conteudo--> 

@{
    Html.AddCssFileParts(ResourceLocation.Head, "~/assets/css/Institucional.css", false);
}