@{
    ViewData["BodyID"] = "institucional-nossa-historia-pg";
}

<!--Conteudo-->
<div class="container"> 
    @* BreadCrumb *@
    <ul class="dg-institucional-breadcrumb" vocab="https://schema.org/" typeof="BreadcrumbList">

        <li property="itemListElement" typeof="ListItem" itemscope itemtype="https://schema.org/ListItem">
            <a href="@Html.Domain()/" property="item" typeof="WebPage">
                <span property="name">Home</span>
            </a>
            <meta property="position" content="1">
            <meta property="name" content="Home">
        </li>



        <li property="itemListElement" typeof="ListItem" itemscope itemtype="https://schema.org/ListItem">
            <a href="@ViewBag.UrlBreadcrumb" property="item" typeof="WebPage">
                <span property="name">Nossa História</span>
            </a>
            <meta property="position" content="2">
            <meta property="name" content="Nossa História">
        </li>


    </ul>
    @* /BreadCrumb *@


    <h1 class="dg-institucional-titulo">
        Nossa <b>história</b>
    </h1>
    <main id="main" class="dg-institucional dg-institucional-nossahistoria-wrapper">
        
        <div class="dg-institucional-nossahistoria">
            <div class="dg-txt">
                <h2>Desde 1974 a Farmácia Mix visa <br>a satisfação e comodidade de seus clientes.</h2>
                <p>Para isso, trabalhamos em parceria com os mais conceituados laboratórios e fabricantes, onde conseguimos descontos em medicamentos e produtos de qualidade. Descontos estes fundamentais para quem não pode abrir mão da saúde e nem sequer oscilar entre medicamentos que não são de confiança.</p>
                <p>Através de nossos programas de fidelização, foi possível criar uma ligação entre nossos clientes assíduos e suas necessidades, e assim aperfeiçoar nosso estoque, bem como nosso trabalho. É por isso que a Farmácia Mix cresce e se especializa a cada ano e hoje nossos clientes contam com uma operação logística rápida e eficiente.</p>
                <p>E foi focando sempre em saúde, bem-estar, e claro, na comodidade de nossos clientes que desenvolvemos nossa loja virtual, para que recebam nossos medicamentos sem saírem de casa, através da internet, com absoluta segurança e rapidez.</p>
                <p>Essa loja virtual foi feita pensando em você, portanto fique à vontade para dar sua opinião, sugestão ou crítica.</p>
            </div>
            <div class="dg-img">
                <img src="@Html.Domain()/Themes/DefaultClean/Content/img/nossa-historia.png" alt="Farmacêutico" />
            </div>
        </div>
    </main>
</div>
@Html.Raw(@ViewBag.SEOOrganization)
<!--Conteudo--> 

@{
    Html.AddCssFileParts(ResourceLocation.Head, "~/assets/css/Institucional.css", false);
}