@model List<Banners>


@foreach (var item in Model.Where(x => x.Ordem == 0).ToList().OrderBy(y => Guid.NewGuid()).Take(1))
{
    @if (!string.IsNullOrEmpty(item.Imagem))
    {
        <a href="@item.URLBanner" target="@item.Target">
            <img src="/assets/img/lazy.png" width="50" height="50" data-src-lazy="https://static.farmaciamix.com.br/banners/fmix/@item.Imagem" alt="@item.Alt" title="@item.Alt" />
        </a>
    }

}


@foreach (var item in Model.Where(x => x.Ordem == 1).ToList().OrderBy(y => Guid.NewGuid()).Take(1))
{
    @if (!string.IsNullOrEmpty(item.Imagem))
    {
        <a href="@item.URLBanner" target="@item.Target">
            <img src="/assets/img/lazy.png" width="50" height="50" data-src-lazy="https://static.farmaciamix.com.br/banners/fmix/@item.Imagem" alt="@item.Alt" title="@item.Alt" />
        </a>
    }

}








