@model Banners

@if (!string.IsNullOrEmpty(Model.Imagem))
{
    <div class="dg-header-busca-bdestaque">
        <a href="@Model.URLBanner" target="@Model.Target">
            <img src="@Html.Domain()/assets/img/home/destaque0.png"
             data-src-lazy="@Model.DataSrcImagem/banners/fmix/@Model.Imagem"
             alt="@Model.Alt"
             width="100%"
             title="@Model.Alt" loading="lazy" />
        </a>
    </div>
}











