@model EmailSendGenericModel
@{
    var _model = Model.ModelDynamic;
}


<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <label for="firstName" class="form-label">Nome</label>
            <input type="text" class="form-control" id="Nome" placeholder="" value="@_model.Nome" required="" style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: pointer;">
        </div>

        <div class="col-sm-6">
            <label for="firstName" class="form-label">Email</label>
            <input type="text" class="form-control" id="Email" placeholder="" value="@_model.Email" required="" style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: pointer;">
        </div>

        <div class="col-sm-6">
            <label for="firstName" class="form-label">Data Nascimento</label>
            <input type="text" class="form-control" id="DataNascimento" placeholder="" value="@_model.DataNascimento" required="" style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: pointer;">
        </div>

        <div class="col-sm-6">
            <label for="firstName" class="form-label">Mãe</label>
            <input type="text" class="form-control" id="Mae" placeholder="" value="@_model.NomeMae" required="" style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: pointer;">
        </div>

        <div class="col-sm-6">
            <label for="firstName" class="form-label">RG</label>
            <input type="text" class="form-control" id="RG" placeholder="" value="@_model.Rg" required="" style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: pointer;">
        </div>

        <div class="col-sm-6">
            <label for="firstName" class="form-label">C.P.F</label>
            <input type="text" class="form-control" id="CPF" placeholder="" value="@_model.CPF" required="" style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: pointer;">
        </div>

        <div class="col-sm-6">
            <label for="firstName" class="form-label">Data Emissão</label>
            <input type="text" class="form-control" id="DataEmissao" placeholder="" value="@_model.DataEmissao" required="" style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: pointer;">
        </div>

        <div class="col-sm-6">
            <label for="firstName" class="form-label">Telefone</label>
            <input type="text" class="form-control" id="Telefone" placeholder="" value="@_model.Telefone" required="" style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: pointer;">
        </div>

        <div class="col-sm-6">
            <label for="firstName" class="form-label">Celular</label>
            <input type="text" class="form-control" id="Celular" placeholder="" value="@_model.Celular" required="" style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: pointer;">
        </div>

        <div class="col-sm-6">
            <label for="firstName" class="form-label">Departamento</label>
            <input type="text" class="form-control" id="Departamento" placeholder="" value="@_model.Departamento" required="" style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: pointer;">
        </div>



        @if (@_model.PrimeiroEmprego)
        {
            <div class="col-sm-6">
                <label for="firstName" class="form-label">Data de entrada na última experiência profissional na área?</label>
                <input type="text" class="form-control" id="Experiencia" placeholder="" value="@_model.EntradaUltimaExperiencia" required="" style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: pointer;">
            </div>

             <div class="col-sm-6">
                <label for="firstName" class="form-label">Data de saída na última experiência profissional na área?</label>
                <input type="text" class="form-control" id="Experiencia" placeholder="" value="@_model.SaidaUltimaExperiencia" required="" style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: pointer;">
            </div>

            <div class="col-sm-6">
                <label for="firstName" class="form-label">Cargo na última experiência profissional na área?</label>
                <input type="text" class="form-control" id="Experiencia" placeholder="" value="@_model.CargoUltimaExperiencia" required="" style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: pointer;">
            </div>

            <div class="col-sm-6">
                <label for="firstName" class="form-label">Empresa na última experiência profissional na área?</label>
                <input type="text" class="form-control" id="Experiencia" placeholder="" value="@_model.EmpresaUltimaExperiencia" required="" style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: pointer;">
            </div>

            <div class="col-sm-6">
                <label for="firstName" class="form-label">Descrição das atividades na última experiência profissional na área?</label>
                <input type="text" class="form-control" id="Experiencia" placeholder="" value="@_model.DescricaoUltimaExperiencia" required="" style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: pointer;">
            </div>

            <!--Penúltima-->

             <div class="col-sm-6">
                <label for="firstName" class="form-label">Data de entrada na penúltima experiência profissional na área?</label>
                <input type="text" class="form-control" placeholder="" value="@_model.EntradaPenultimaExperiencia" required="" style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: pointer;">
            </div>

             <div class="col-sm-6">
                <label for="firstName" class="form-label">Data de saída na penúltima experiência profissional na área?</label>
                <input type="text" class="form-control" placeholder="" value="@_model.SaidaPenultimaExperiencia" required="" style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: pointer;">
            </div>

            <div class="col-sm-6">
                <label for="firstName" class="form-label">Cargo na penúltima experiência profissional na área?</label>
                <input type="text" class="form-control" placeholder="" value="@_model.CargoPenultimaExperiencia" required="" style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: pointer;">
            </div>

            <div class="col-sm-6">
                <label for="firstName" class="form-label">Empresa na penúltima experiência profissional na área?</label>
                <input type="text" class="form-control" placeholder="" value="@_model.EmpresaPenultimaExperiencia" required="" style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: pointer;">
            </div>

            <div class="col-sm-6">
                <label for="firstName" class="form-label">Descrição das atividades na penúltima experiência profissional na área?</label>
                <input type="text" class="form-control" placeholder="" value="@_model.DescricaoPenultimaExperiencia" required="" style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: pointer;">
            </div>
        }

        <div class="col-sm-6">
            <label for="firstName" class="form-label">Experiência profissional na área</label>
            @if (@_model.ExperienciaAreaRadio == true)
            {
                <input type="text" class="form-control" placeholder="" value="SIM" required="" style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: pointer;">

            } else
            {
                <input type="text" class="form-control" placeholder="" value="NÃO" required="" style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: pointer;">
            }
        </div>


        <div class="col-sm-6">
            <label for="Facebook" class="form-label">Facebook</label>
            <input type="text" class="form-control" id="Facebook" placeholder="" value="@_model.UsuarioFacebook" required="" style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: pointer;">
        </div>

        <div class="col-sm-6">
            <label for="Instagram" class="form-label">Instagram</label>
            <input type="text" class="form-control" id="Instagram" placeholder="" value="@_model.UsuarioInstagram" required="" style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: pointer;">
        </div>

        <div class="col-sm-6">
            <label for="Linkedin" class="form-label">Linkedin</label>
            <input type="text" class="form-control" id="Linkedin" placeholder="" value="@_model.UsuarioLinkedin" required="" style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: pointer;">
        </div>

        <div class="col-sm-6">
            <label for="Sabado" class="form-label">Possui disponibilidade aos sábados? </label>

             @if (@_model.DisponibilidadeSabados == true)
            {
                <input type="text" class="form-control" placeholder="" value="SIM" required="" style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: pointer;">

            } else
            {
                <input type="text" class="form-control" placeholder="" value="NÃO" required="" style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: pointer;">
            }
        </div>

        <div class="col-sm-6">
            <label for="Indicado" class="form-label">Indicado pela empresa?</label>
            <input type="text" class="form-control" id="Indicado" placeholder="" value="@_model.IndicacaoEmpresa" required="" style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: pointer;">
        </div>

        <div class="col-sm-6">
            <label for="Referencia" class="form-label">Possui referências profissionais?</label>
            <input type="text" class="form-control" id="Referencia" placeholder="" value="@_model.ReferenciaProfissional" required="" style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: pointer;">
        </div>

        <div class="col-sm-6">
            <label for="deficiencia" class="form-label">Possui alguma deficiência?</label>
             @if (@_model.TemDeficienciaRadio == true)
            {
                <input type="text" class="form-control" placeholder="" value="SIM" required="" style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: pointer;">
                <input type="text" class="form-control" placeholder="" value="@_model.TemDeficiencia" required="" style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: pointer;">

            } else
            {
                <input type="text" class="form-control" placeholder="" value="NÃO" required="" style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: pointer;">
            }
        </div>

    </div>
</div>